Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

Update apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/src/components/WelcomeScreen.tsx
Due: format, lint, type-check

chore: update WelcomeScreen snapshot for command name
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: none

chore: update
  .changeset/plain-birds-do.md
Due: format

feat: add interactive TUI welcome screen to root command (#251)
  .changeset/plain-birds-do.md
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/MainMenu.tsx
  apps/cli/src/components/StatusBar.tsx
  apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/tests/cli.test.tsx
  apps/cli/tests/ui/MainMenu.test.tsx
  apps/cli/tests/ui/StatusBar.test.tsx
  apps/cli/tests/ui/WelcomeScreen.test.tsx
  apps/cli/tests/ui/__snapshots__/MainMenu.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/StatusBar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: format, lint, type-check

Version Packages (#253)
  .changeset/plain-birds-do.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: bundle version statically for compiled binaries
  apps/cli/package.json
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

fix: resolve Windows CLI installation path issues
  .github/workflows/install.yml
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/postinstall.mjs
Due: format

Update apps/cli/bin/open-composer.cmd
  apps/cli/bin/open-composer.cmd
Due: none

fix: resolve Windows CLI installation path issues (#255)
  .github/workflows/install.yml
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/postinstall.mjs
Due: format

fix: simplify root help output to show only command summaries
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

fix: correct architecture detection and version generation for binaries
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Apply suggestion from @Copilot
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

refactor: extract displayHelpText helper to eliminate duplication
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

fix: correct architecture detection and version generation for binaries (#256)
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: simplify root help output to show only command summaries (#257)
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

feat: add @open-composer/orchestrator package with Effect-ts integration
  bun.lock
  packages/orchestrator/CHANGELOG.md
  packages/orchestrator/README.md
  packages/orchestrator/package.json
  packages/orchestrator/src/errors.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/llm-task.ts
  packages/orchestrator/src/orchestrator.ts
  packages/orchestrator/src/service.ts
  packages/orchestrator/src/state.ts
  packages/orchestrator/src/types.ts
  packages/orchestrator/tsconfig.json
  packages/orchestrator/tsconfig.src.json
Due: format, lint, type-check

chore: update
  packages/orchestrator/CHANGELOG.md
Due: format

test: add comprehensive tests for orchestrator package
  packages/orchestrator/tests/errors.test.ts
  packages/orchestrator/tests/index.test.ts
  packages/orchestrator/tests/llm-task.test.ts
  packages/orchestrator/tests/service.test.ts
  packages/orchestrator/tests/state.test.ts
  packages/orchestrator/tests/types.test.ts
Due: format, lint, type-check

style: apply biome formatting to test files
  packages/orchestrator/tests/errors.test.ts
  packages/orchestrator/tests/index.test.ts
  packages/orchestrator/tests/llm-task.test.ts
  packages/orchestrator/tests/service.test.ts
  packages/orchestrator/tests/state.test.ts
  packages/orchestrator/tests/types.test.ts
Due: format, lint, type-check

feat(cli): add orchestrator command with interactive TUI
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/orchestrator-command.ts
  apps/cli/src/components/OrchestratorPlanPrompt.tsx
  apps/cli/src/services/orchestrator-service.ts
Due: format, lint, type-check

test(cli): add snapshot tests for OrchestratorPlanPrompt
  apps/cli/tests/ui/OrchestratorPlanPrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/OrchestratorPlanPrompt.test.tsx.snap
Due: format, lint, type-check

feat: add @open-composer/orchestrator package with Effect-ts integration (#258)
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/orchestrator-command.ts
  apps/cli/src/components/OrchestratorPlanPrompt.tsx
  apps/cli/src/services/orchestrator-service.ts
  apps/cli/tests/ui/OrchestratorPlanPrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/OrchestratorPlanPrompt.test.tsx.snap
  bun.lock
  packages/orchestrator/README.md
  packages/orchestrator/package.json
  packages/orchestrator/src/errors.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/llm-task.ts
  packages/orchestrator/src/orchestrator.ts
  packages/orchestrator/src/service.ts
  packages/orchestrator/src/state.ts
  packages/orchestrator/src/types.ts
  packages/orchestrator/tests/errors.test.ts
  packages/orchestrator/tests/index.test.ts
  packages/orchestrator/tests/llm-task.test.ts
  packages/orchestrator/tests/service.test.ts
  packages/orchestrator/tests/state.test.ts
  packages/orchestrator/tests/types.test.ts
  packages/orchestrator/tsconfig.json
  packages/orchestrator/tsconfig.src.json
Due: format, lint, type-check

chore: add Homebrew tap update step to release workflow
  .github/workflows/release.yml
  .goreleaser.yml
Due: format

chore: add Homebrew tap update step to release workflow (#260)
  .github/workflows/release.yml
  .goreleaser.yml
Due: format

chore: add Homebrew tap update step to release workflow (#260)
  .changeset/strong-rabbits-fail.md
  .github/workflows/install.yml
  .github/workflows/release.yml
  .goreleaser.yml
Due: format

Apply suggestion from @Copilot
  .goreleaser.yml
Due: format

test: add unit tests for AI session parsers
  agents/claude-code/tests/sessions.test.ts
  agents/codex/tests/sessions.test.ts
  agents/opencode/tests/sessions.test.ts
Due: format, lint, type-check

feat: add unified AI sessions viewer for all coding agents
  agents/claude-code/src/index.ts
  agents/claude-code/src/sessions.ts
  agents/codex/src/index.ts
  agents/codex/src/sessions.ts
  agents/opencode/src/index.ts
  agents/opencode/src/sessions.ts
  apps/cli/package.json
  apps/cli/src/commands/ai-sessions-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/AISessionsList.tsx
  bun.lock
  packages/ai-sessions/package.json
  packages/ai-sessions/src/index.ts
  packages/ai-sessions/src/service.ts
  packages/ai-sessions/src/types.ts
  packages/ai-sessions/tsconfig.json
Due: format, lint, type-check

test: add mock test data and comprehensive parser tests
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-completed.jsonl
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-failed.jsonl
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-no-git.jsonl
  agents/codex/tests/sessions.test.ts
  agents/opencode/tests/fixtures/worktrees/my-project/1759449921935-ddf952/git-mock/HEAD
  agents/opencode/tests/fixtures/worktrees/open-composer/1759450333833-182a9d/git-mock/HEAD
  agents/opencode/tests/sessions.test.ts
Due: format, lint, type-check

fix: correct parseCursorSessions import from agent-cursor
  packages/ai-sessions/src/index.ts
Due: format, lint, type-check

refactor: implement proper session parsing for Cursor and Claude Code
  agents/claude-code/src/sessions.ts
  agents/claude-code/tests/fixtures/.claude-code/sessions.json
  agents/claude-code/tests/sessions.test.ts
  agents/codex/tests/sessions.test.ts
  agents/cursor/package.json
  agents/cursor/src/index.ts
  agents/cursor/src/sessions.ts
  agents/cursor/tests/create-fixtures.ts
  agents/cursor/tests/fixtures/.cursor/chats/workspace-1/session-1/store.db
  agents/cursor/tests/fixtures/.cursor/chats/workspace-1/session-2/store.db
  agents/cursor/tests/fixtures/.cursor/chats/workspace-2/session-3/store.db
  agents/cursor/tests/fixtures/.gitignore
  agents/cursor/tests/sessions.test.ts
  agents/cursor/tsconfig.json
  agents/opencode/src/sessions.ts
  agents/opencode/tests/fixtures/opencode/session-1.json
  agents/opencode/tests/fixtures/opencode/session-2.json
  agents/opencode/tests/fixtures/opencode/session-3.json
  agents/opencode/tests/fixtures/worktrees/my-project/1759449921935-ddf952/git-mock/HEAD
  agents/opencode/tests/fixtures/worktrees/open-composer/1759450333833-182a9d/git-mock/HEAD
  agents/opencode/tests/sessions.test.ts
  bun.lock
  packages/ai-sessions/src/service.ts
  packages/ai-sessions/src/types.ts
Due: format, lint, type-check

feat: add @open-composer/orchestrator package with Effect-ts integration (#258)
  bun.lock
Due: none

fix: skip tests for ai-sessions aggregator package
  packages/ai-sessions/package.json
Due: format

fix: update binary naming for consistency in upgrade command and tests
  .changeset/strong-rabbits-fail.md
  .goreleaser.yml
  biome.json
Due: format

feat: add windows support to install.sh script testing (#261)
  .changeset/strong-rabbits-fail.md
  .github/workflows/install.yml
  .goreleaser.yml
  biome.json
Due: format

fix: resolve biome linting errors in test files
  agents/claude-code/tests/sessions.test.ts
  agents/codex/tests/sessions.test.ts
  agents/opencode/tests/sessions.test.ts
Due: format, lint, type-check

chore: update tsconfig for ai-sessions package
  packages/ai-sessions/tsconfig.json
  packages/ai-sessions/tsconfig.src.json
Due: format

style: format tsconfig files for ai-sessions package
  packages/ai-sessions/tsconfig.json
  packages/ai-sessions/tsconfig.src.json
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
