Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

fix: resolve TypeScript errors in ai-sessions service
  packages/ai-sessions/src/service.ts
Due: format, lint, type-check

fix: resolve TypeScript error in CLI ai-sessions command
  apps/cli/src/commands/ai-sessions-command.ts
Due: format, lint, type-check

feat: add unified AI sessions viewer for all coding agents (#259)
  agents/claude-code/src/index.ts
  agents/claude-code/src/sessions.ts
  agents/claude-code/tests/fixtures/.claude-code/sessions.json
  agents/claude-code/tests/sessions.test.ts
  agents/codex/src/index.ts
  agents/codex/src/sessions.ts
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-completed.jsonl
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-failed.jsonl
  agents/codex/tests/fixtures/sessions/2025/10/04/test-session-no-git.jsonl
  agents/codex/tests/sessions.test.ts
  agents/cursor/package.json
  agents/cursor/src/index.ts
  agents/cursor/src/sessions.ts
  agents/cursor/tests/create-fixtures.ts
  agents/cursor/tests/fixtures/.cursor/chats/workspace-1/session-1/store.db
  agents/cursor/tests/fixtures/.cursor/chats/workspace-1/session-2/store.db
  agents/cursor/tests/fixtures/.cursor/chats/workspace-2/session-3/store.db
  agents/cursor/tests/fixtures/.gitignore
  agents/cursor/tests/sessions.test.ts
  agents/cursor/tsconfig.json
  agents/opencode/src/index.ts
  agents/opencode/src/sessions.ts
  agents/opencode/tests/fixtures/opencode/session-1.json
  agents/opencode/tests/fixtures/opencode/session-2.json
  agents/opencode/tests/fixtures/opencode/session-3.json
  agents/opencode/tests/sessions.test.ts
  apps/cli/package.json
  apps/cli/src/commands/ai-sessions-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/AISessionsList.tsx
  bun.lock
  packages/ai-sessions/package.json
  packages/ai-sessions/src/index.ts
  packages/ai-sessions/src/service.ts
  packages/ai-sessions/src/types.ts
  packages/ai-sessions/tsconfig.json
  packages/ai-sessions/tsconfig.src.json
Due: format, lint, type-check

Version Packages (#262)
  .changeset/strong-rabbits-fail.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: improve Windows npm install and install.sh error handling
  apps/cli/bin/open-composer
  install.sh
Due: none

fix: explicitly include bin files in npm package
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: resolve Windows PowerShell and macOS install.sh failures
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/postinstall.mjs
Due: none

fix: update goreleaser action from v7 to v6
  .github/workflows/release.yml
  install.sh
Due: format

fix: resolve Windows PowerShell and macOS install.sh failures (#264)
  .github/workflows/release.yml
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: add AI SDK streaming for agent conversation display
  agents/claude-code/src/__tests__/parser.test.ts
  agents/claude-code/src/index.ts
  agents/claude-code/src/parser.ts
  agents/codex/src/__tests__/parser.test.ts
  agents/codex/src/index.ts
  agents/codex/src/parser.ts
  agents/cursor/src/__tests__/parser.test.ts
  agents/cursor/src/index.ts
  agents/cursor/src/parser.ts
  agents/opencode/src/__tests__/parser.test.ts
  agents/opencode/src/index.ts
  agents/opencode/src/parser.ts
  apps/cli/src/commands/ai-sessions-viewer-command.ts
  apps/cli/src/commands/composer-command.ts
  bun.lock
  packages/ai-sessions/examples/streaming-demo.ts
  packages/ai-sessions/package.json
  packages/ai-sessions/src/index.ts
  packages/ai-sessions/src/streaming-types.ts
  packages/ai-sessions/src/streaming-viewer.ts
Due: format, lint, type-check

test: add comprehensive test suite for ai-sessions package
  packages/ai-sessions/package.json
  packages/ai-sessions/src/__tests__/index.test.ts
  packages/ai-sessions/src/__tests__/streaming-types.test.ts
  packages/ai-sessions/src/__tests__/streaming-viewer.test.ts
Due: format, lint, type-check

feat: add AI SDK streaming for agent conversation display (#265)
  agents/claude-code/src/__tests__/parser.test.ts
  agents/claude-code/src/index.ts
  agents/claude-code/src/parser.ts
  agents/codex/src/__tests__/parser.test.ts
  agents/codex/src/index.ts
  agents/codex/src/parser.ts
  agents/cursor/src/__tests__/parser.test.ts
  agents/cursor/src/index.ts
  agents/cursor/src/parser.ts
  agents/opencode/src/__tests__/parser.test.ts
  agents/opencode/src/index.ts
  agents/opencode/src/parser.ts
  apps/cli/src/commands/ai-sessions-viewer-command.ts
  apps/cli/src/commands/composer-command.ts
  bun.lock
  packages/ai-sessions/examples/streaming-demo.ts
  packages/ai-sessions/package.json
  packages/ai-sessions/src/__tests__/index.test.ts
  packages/ai-sessions/src/__tests__/streaming-types.test.ts
  packages/ai-sessions/src/__tests__/streaming-viewer.test.ts
  packages/ai-sessions/src/index.ts
  packages/ai-sessions/src/streaming-types.ts
  packages/ai-sessions/src/streaming-viewer.ts
Due: format, lint, type-check

chore: release patch version
  .changeset/cold-rabbits-arrive.md
Due: format

chore: release patch version (#266)
  .changeset/cold-rabbits-arrive.md
Due: format

Version Packages (#267)
  .changeset/cold-rabbits-arrive.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

Add retries and remove npm fallback
  .github/workflows/install.yml
  install.sh
Due: format

feat: add fullscreen mode to welcome screen and AI sessions list
  apps/cli/src/commands/ai-sessions-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/AISessionsList.tsx
  apps/cli/src/components/WelcomeScreen.tsx
Due: format, lint, type-check

fix: conditionally apply terminal dimensions for fullscreen mode
  apps/cli/src/components/AISessionsList.tsx
  apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: format, lint, type-check

feat: add oc and opencomposer aliases to installation script
  install.sh
Due: none

Add retries and remove npm fallback (#268)
  .changeset/cold-rabbits-arrive.md
  .github/workflows/install.yml
  install.sh
Due: format

Invalid value in GitHub workflow file
  .github/workflows/install.yml
Due: format

Invalid value in GitHub workflow file (#271)
  .github/workflows/install.yml
Due: format

fix: update WelcomeScreen snapshot to use test version number
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: none

fix: implement correct session parsing for claude-code and opencode
  agents/claude-code/src/sessions.ts
  agents/claude-code/tests/sessions.test.ts
  agents/opencode/src/sessions.ts
  agents/opencode/tests/fixtures/opencode/storage/project/project-1.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session1.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session2.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session3.json
  agents/opencode/tests/sessions.test.ts
Due: format, lint, type-check

test: add proper mocking for CLI_VERSION in WelcomeScreen tests
  apps/cli/tests/ui/WelcomeScreen.test.tsx
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: format, lint, type-check

feat: add fullscreen mode to welcome screen and AI sessions list (#269)
  apps/cli/src/commands/ai-sessions-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/AISessionsList.tsx
  apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/tests/ui/WelcomeScreen.test.tsx
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: format, lint, type-check

Checkpoint before follow-up message
  apps/cli/scripts/generate-version.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

fix: add missing claude-code test fixtures
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-1.jsonl
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-2.jsonl
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-3.jsonl
Due: none

fix: implement correct session parsing for claude-code and opencode (#272)
  agents/claude-code/src/sessions.ts
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-1.jsonl
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-2.jsonl
  agents/claude-code/tests/fixtures/.claude/projects/test-project/session-3.jsonl
  agents/claude-code/tests/sessions.test.ts
  agents/opencode/src/sessions.ts
  agents/opencode/tests/fixtures/opencode/storage/project/project-1.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session1.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session2.json
  agents/opencode/tests/fixtures/opencode/storage/session/project-1/ses_session3.json
  agents/opencode/tests/sessions.test.ts
Due: format, lint, type-check

chore: update
  apps/cli/VERSION_FIX_SUMMARY.md
  apps/cli/tests/build/version-integration.test.ts
  apps/cli/tests/components/version-display.test.tsx
  apps/cli/tests/lib/version.test.ts
  apps/cli/tests/scripts/generate-version.test.ts
Due: format, lint, type-check

feat: add agent-registry package with Pokemon-style squad management
  bun.lock
  packages/agent-registry/README.md
  packages/agent-registry/SQUAD_COMMAND.md
  packages/agent-registry/examples/usage.ts
  packages/agent-registry/package.json
  packages/agent-registry/src/__tests__/agent-factory.test.ts
  packages/agent-registry/src/__tests__/registry.test.ts
  packages/agent-registry/src/agent-factory.ts
  packages/agent-registry/src/cli/squad-command.ts
  packages/agent-registry/src/index.ts
  packages/agent-registry/src/registry.ts
  packages/agent-registry/src/squad-launcher.ts
  packages/agent-registry/src/types.ts
  packages/agent-registry/src/ui/pokemon-ui.ts
  packages/agent-registry/src/ui/squad-selector.ts
  packages/agent-registry/tsconfig.json
Due: format, lint, type-check

refactor: update CLI_VERSION handling to read from package.json
  apps/cli/src/lib/version.ts
  apps/cli/tests/build/version-integration.test.ts
  apps/cli/tests/components/version-display.test.tsx
  apps/cli/tests/lib/version.test.ts
Due: format, lint, type-check

refactor: ensure CLI_VERSION is consistently treated as a string
  apps/cli/scripts/prepublish.ts
  apps/cli/tests/scripts/generate-version.test.ts
Due: format, lint, type-check

refactor: improve version integration tests for CLI_VERSION handling
  apps/cli/tests/build/version-integration.test.ts
  apps/cli/tests/components/version-display.test.tsx
  apps/cli/tests/lib/version.test.ts
Due: format, lint, type-check

fix: remove unused imports from test files
  apps/cli/tests/build/version-integration.test.ts
  apps/cli/tests/scripts/generate-version.test.ts
Due: format, lint, type-check

refactor: optimize version integration tests for improved reliability
  apps/cli/VERSION_FIX_SUMMARY.md
Due: format

fix: ensure version integration tests work in CI environment
  apps/cli/tests/build/version-integration.test.ts
  apps/cli/tests/scripts/generate-version.test.ts
Due: format, lint, type-check

fix: restore package.json between tests instead of deleting version file
  apps/cli/tests/build/version-integration.test.ts
Due: format, lint, type-check

fix: remove try/finally blocks from version integration tests
  apps/cli/tests/build/version-integration.test.ts
Due: format, lint, type-check

fix: skip version integration tests on CI
  apps/cli/tests/build/version-integration.test.ts
Due: format, lint, type-check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
