Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

chore: update release workflow and prepublish scripts (#129)
  .changeset/update-release-workflow.md
  .github/workflows/release.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Version Packages (#130)
  .changeset/update-release-workflow.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

chore: update CI workflows and build scripts
  .github/workflows/release.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

chore: update CI workflows and build scripts (#131)
  .github/workflows/release.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

chore: update CI/CD and build configuration
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

chore: update CI/CD and build configuration (#132)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

feat: add publish script to CLI package
  apps/cli/package.json
Due: format

feat: add publish script to CLI package (#133)
  apps/cli/package.json
Due: format

feat: update publish script configuration
  apps/cli/package.json
  package.json
Due: format

feat: update publish script configuration (#134)
  package.json
Due: format

feat: implement interactive telemetry consent prompt
  apps/cli/src/components/TelemetryConsentPrompt.tsx
  apps/cli/src/services/config.ts
  apps/cli/src/services/telemetry.ts
Due: format, lint, type-check

feat: enhance telemetry consent prompt with user feedback
  .changeset/interactive-consent.md
Due: format

test: add UI snapshot testing for TelemetryConsentPrompt
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

feat: implement interactive telemetry consent prompt (#135)
  .changeset/interactive-consent.md
  apps/cli/src/components/TelemetryConsentPrompt.tsx
  apps/cli/src/services/config.ts
  apps/cli/src/services/telemetry.ts
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

fix: resolve TypeScript errors in GitWorktreeCreatePrompt component
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

feat: enhance telemetry consent prompt functionality
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

fix: correct type casting in GitWorktreeCreatePrompt component
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
Due: format, lint, type-check

feat: implement interactive worktree creation prompt
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
Due: format, lint, type-check

refactor: improve code formatting and clarity in git-worktree command
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
Due: format, lint, type-check

refactor: improve code formatting and clarity in git-worktree command
  apps/cli/src/commands/git-worktree.ts
Due: format, lint, type-check

refactor: simplify promise handling in git-worktree command
  apps/cli/src/commands/git-worktree.ts
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/git-worktree.ts
Due: format, lint, type-check

feat: enhance interactive worktree creation with telemetry tracking
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/services/git-worktree-cli.ts
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeSwitchPrompt.tsx
  apps/cli/src/services/git-worktree-cli.ts
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/composer.ts
Due: format, lint, type-check

feat: calculate default worktree path for improved user experience
  apps/cli/src/commands/composer.ts
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/services/git-worktree-cli.ts
Due: format, lint, type-check

chore: update
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

chore: update
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
Due: none

feat: improve git worktree switching functionality
  apps/cli/src/commands/composer.ts
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

fix: update snapshots for Open Composer CLI component
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
Due: none

refactor: improve code formatting and clarity in git-worktree command (#137)
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
  apps/cli/src/components/GitWorktreeSwitchPrompt.tsx
  apps/cli/src/services/git-worktree-cli.ts
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

feat: update build configuration and dependencies
  .gitignore
  Makefile
  bun.lock
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
