Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

refactor: simplify target mapping in prepublish script
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: add prepublish script for multi-platform CLI builds (#45)
  .github/workflows/changesets.yml
  package.json
  packages/cli/package.json
  packages/cli/scripts/prepublish.ts
  packages/cli/src/lib/version.ts
  packages/cli/tsconfig.json
  turbo.json
Due: format, lint, type-check

feat: add automated CLI binary release workflow
  .github/workflows/release.yml
  .gitignore
Due: format

feat: add automated CLI binary release workflow (#46)
  .github/workflows/release.yml
  .gitignore
Due: format

feat: optimize release workflow with single instance and zip files
  .github/workflows/release.yml
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: optimize release workflow with single instance and zip files (#47)
  .github/workflows/release.yml
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

Version Packages (#35)
  .changeset/agent-router-cli-enhancement.md
  packages/agent-router/CHANGELOG.md
  packages/agent-router/package.json
  packages/cli/package.json
Due: format

feat: add cross-platform compilation support to postinstall
  packages/cli/.npmignore
Due: none

chore: update package versions in bun.lock and CLI snapshots
  bun.lock
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: none

feat: add cross-platform compilation support to postinstall (#48)
  bun.lock
  packages/cli/.npmignore
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: none

refactor: standardize test directory structure across all packages
  packages/agent-router/tests/agent-router.test.ts
  packages/agent-router/tsconfig.json
  packages/cli/tests/cli.test.tsx
  packages/cli/tests/index.test.tsx
  packages/cli/tests/setup.ts
  packages/cli/tests/ui/__snapshots__/index.test.tsx.snap
  packages/cli/tests/ui/index.test.tsx
  packages/cli/tests/utils.ts
  packages/cli/tsconfig.json
  packages/cli/turbo.json
  packages/git-stack/tests/git-stack.test.ts
  packages/git-stack/tsconfig.json
  packages/git-worktrees/tests/utils.ts
  packages/git-worktrees/tests/worktrees.test.ts
  packages/git/tests/git.test.ts
  packages/git/tsconfig.json
  workers/posthog/tsconfig.json
Due: format, lint, type-check

refactor: streamline TypeScript configuration across multiple packages
  packages/agent-router/tsconfig.json
  packages/cli/tsconfig.json
  packages/git-stack/tsconfig.json
  packages/git/tsconfig.json
  workers/posthog/tsconfig.json
Due: format

refactor: standardize test directory structure across all packages (#49)
  packages/agent-router/tests/agent-router.test.ts
  packages/agent-router/tsconfig.json
  packages/cli/tests/cli.test.tsx
  packages/cli/tests/index.test.tsx
  packages/cli/tests/setup.ts
  packages/cli/tests/ui/__snapshots__/index.test.tsx.snap
  packages/cli/tests/ui/index.test.tsx
  packages/cli/tests/utils.ts
  packages/cli/tsconfig.json
  packages/cli/turbo.json
  packages/git-stack/tests/git-stack.test.ts
  packages/git-stack/tsconfig.json
  packages/git-worktrees/tests/utils.ts
  packages/git-worktrees/tests/worktrees.test.ts
  packages/git/tests/git.test.ts
  packages/git/tsconfig.json
  workers/posthog/tsconfig.json
Due: format, lint, type-check

docs: add clarifying comment to release workflow
  .github/workflows/release.yml
Due: format

docs: add clarifying comment to release workflow (#50)
  .github/workflows/release.yml
Due: format

refactor: restructure CLI from packages/ to apps/ directory
  .github/workflows/release.yml
  apps/cli/.npmignore
  apps/cli/CHANGELOG.md
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/src/commands/agents.ts
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/commands/stack.ts
  apps/cli/src/commands/tui.ts
  apps/cli/src/components/ChatInterface.tsx
  apps/cli/src/components/CodeEditor.tsx
  apps/cli/src/components/ComposerApp.tsx
  apps/cli/src/components/Layout.tsx
  apps/cli/src/components/Sidebar.tsx
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/lib/index.ts
  apps/cli/src/lib/version.ts
  apps/cli/src/services/agent-cli.ts
  apps/cli/src/services/git-worktree-cli.ts
  apps/cli/src/services/stack-cli.ts
  apps/cli/src/services/telemetry.ts
  apps/cli/tests/cli.test.tsx
  apps/cli/tests/index.test.tsx
  apps/cli/tests/setup.ts
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
  apps/cli/tests/utils.ts
  apps/cli/tsconfig.json
  apps/cli/turbo.json
  bun.lock
Due: format, lint, type-check

refactor: restructure CLI from packages/ to apps/ directory (#51)
  .github/workflows/release.yml
  apps/cli/.npmignore
  apps/cli/CHANGELOG.md
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/src/commands/agents.ts
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/git-worktree.ts
  apps/cli/src/commands/stack.ts
  apps/cli/src/commands/tui.ts
  apps/cli/src/components/ChatInterface.tsx
  apps/cli/src/components/CodeEditor.tsx
  apps/cli/src/components/ComposerApp.tsx
  apps/cli/src/components/Layout.tsx
  apps/cli/src/components/Sidebar.tsx
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/lib/index.ts
  apps/cli/src/lib/version.ts
  apps/cli/src/services/agent-cli.ts
  apps/cli/src/services/git-worktree-cli.ts
  apps/cli/src/services/stack-cli.ts
  apps/cli/src/services/telemetry.ts
  apps/cli/tests/cli.test.tsx
  apps/cli/tests/index.test.tsx
  apps/cli/tests/setup.ts
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
  apps/cli/tests/utils.ts
  apps/cli/tsconfig.json
  apps/cli/turbo.json
  bun.lock
Due: format, lint, type-check

feat: improve CLI publishing and distribution workflow
  apps/cli/.npmignore
  apps/cli/bin/opencomposer
  apps/cli/bin/opencomposer.cmd
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
  apps/cli/scripts/prepublish.ts
  apps/cli/scripts/publish.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

docs: add changeset for CLI improvements
  .changeset/bump-all-packages.md
Due: format

feat: improve CLI publishing and distribution workflow (#52)
  .changeset/bump-all-packages.md
  apps/cli/.npmignore
  apps/cli/bin/opencomposer
  apps/cli/bin/opencomposer.cmd
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
  apps/cli/scripts/prepublish.ts
  apps/cli/scripts/publish.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

feat: add automated installation workflow
  .github/workflows/install.yml
Due: format

fix:ci: resolve workflow validation error in install.yml
  .github/workflows/install.yml
Due: format

feat: add automated installation workflow (#54)
  .github/workflows/install.yml
Due: format

fix: mock CLI version in tests to prevent snapshot failures
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

fix: mock CLI version in tests to prevent snapshot failures (#55)
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

Version Packages (#53)
  .changeset/bump-all-packages.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: add custom publish script to prevent 413 payload too large error
  .changeset/tender-months-guess.md
  apps/cli/package.json
  turbo.json
Due: format

Apply suggestion from @Copilot
  .changeset/tender-months-guess.md
Due: format

fix: add custom publish script to prevent 413 payload too large error (#56)
  .changeset/tender-months-guess.md
  apps/cli/package.json
  turbo.json
Due: format

Version Packages (#57)
  .changeset/tender-months-guess.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: exclude large binaries from npm package to resolve 413 Payload Too Large error
  apps/cli/package.json
Due: format

fix: resolve 413 Payload Too Large error for CLI package publishing
  .changeset/mean-geese-stay.md
  .github/workflows/changesets.yml
  package.json
Due: format

fix: resolve 413 Payload Too Large error for CLI package publishing (#58)
  .changeset/mean-geese-stay.md
  .github/workflows/changesets.yml
  apps/cli/package.json
  package.json
Due: format

fix: improve changesets workflow reliability and CLI publishing
  .github/workflows/changesets.yml
Due: format

fix: improve changesets workflow reliability and CLI publishing (#60)
  .github/workflows/changesets.yml
Due: format

Version Packages (#59)
  .changeset/mean-geese-stay.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: correct NPM token environment variable in changesets workflow
  .changeset/public-facts-rest.md
  .github/workflows/changesets.yml
Due: format

fix: correct NPM token environment variable in changesets workflow (#61)
  .changeset/public-facts-rest.md
  .github/workflows/changesets.yml
Due: format

Version Packages (#62)
  .changeset/public-facts-rest.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: add comprehensive Bun runtime model support
  .changeset/curvy-cars-show.md
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check
