Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

Remove bunfig.toml configuration file as it is no longer needed for test management.
  bunfig.toml
Due: none

Refactor PostHog worker test scripts in package.json
  workers/posthog/package.json
Due: format

chore: update build dependencies and test configuration (#39)
  bun.lock
  package.json
  packages/cli/package.json
Due: format

chore: update test script to run once by default
  workers/posthog/package.json
Due: format

chore: update test script to run once by default (#40)
  workers/posthog/package.json
Due: format

fix: ensure consistent file formatting and improve import organization
  packages/cli/package.json
  packages/cli/src/commands/composer.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/stack-cli.ts
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  workers/posthog/test/rate-limiter.test.ts
Due: format, lint, type-check

refactor: convert CLI commands to functional approach + integrate stack command (#38)
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/stack.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/stack-cli.ts
  packages/cli/test/cli.test.tsx
  packages/git-stack/package.json
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  packages/git-stack/tsconfig.json
  workers/posthog/test/rate-limiter.test.ts
Due: format, lint, type-check

feat: add stacked PR visualization to submit command
  packages/git-stack/src/service.ts
Due: format, lint, type-check

refactor: improve type safety in PostHog worker
  workers/posthog/src/index.ts
  workers/posthog/test/basic.test.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/test/types.d.ts
Due: format, lint, type-check

feat: enhance GitStack tests with comprehensive branch tracking and management scenarios
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

refactor: streamline checkRateLimit mock in PostHog worker tests
  workers/posthog/test/index.test.ts
Due: format, lint, type-check

fix: improve PostHog worker type safety and test reliability (#42)
  workers/posthog/src/index.ts
  workers/posthog/test/basic.test.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/test/types.d.ts
Due: format, lint, type-check

Merge remote-tracking branch 'origin/main' into feat/ini-stack-graph
  workers/posthog/src/index.ts
  workers/posthog/test/basic.test.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/test/types.d.ts
Due: format, lint, type-check

chore: update wrangler version and rename PostHog worker
  bun.lock
  workers/posthog/package.json
  workers/posthog/wrangler.toml
Due: format

fix: update wrangler.toml to reflect new SQLite class naming
  workers/posthog/wrangler.toml
Due: none

chore: enable workers_dev in wrangler.toml for development convenience
  workers/posthog/wrangler.toml
Due: none

chore: configure wrangler.toml for workers.dev subdomain usage (#43)
  bun.lock
  workers/posthog/package.json
  workers/posthog/wrangler.toml
Due: format

fix: update GitStack tests to use 'master' as the default branch name
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

fix: update GitStack tests to use 'main' as the default branch name
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

feat: add PostHog telemetry integration to CLI
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/agents.ts
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/git-worktree.ts
  packages/cli/src/commands/stack.ts
  packages/cli/src/commands/tui.ts
  packages/cli/src/services/telemetry.ts
Due: format, lint, type-check

feat: implement stack graph visualization and git stack enhancements
  bun.lock
  packages/cli/package.json
  packages/cli/src/services/stack-cli.ts
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  packages/git-worktrees/package.json
  packages/git-worktrees/src/index.ts
  packages/git-worktrees/src/worktrees.ts
  packages/git-worktrees/test/utils.ts
  packages/git/package.json
  packages/git/src/commands.ts
  packages/git/src/core.ts
  packages/git/src/index.ts
  packages/git/tsconfig.json
Due: format, lint, type-check

feat: enhance git stack service integration and error handling
  packages/cli/src/services/stack-cli.ts
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  packages/git-worktrees/src/index.ts
  packages/git-worktrees/src/worktrees.ts
  packages/git-worktrees/test/utils.ts
  packages/git/package.json
  packages/git/src/commands.ts
  packages/git/src/core.ts
  packages/git/src/index.ts
  packages/git/test/git.test.ts
  packages/git/tsconfig.json
Due: format, lint, type-check

refactor: update CLI version handling and improve layout display
  packages/cli/src/commands/composer.ts
  packages/cli/src/components/Layout.tsx
  packages/cli/src/lib/version.ts
  packages/cli/src/services/telemetry.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: format, lint, type-check

refactor: enhance telemetry service error handling and consistency
  packages/cli/src/services/telemetry.ts
Due: format, lint, type-check

refactor: reorganize import statements in composer.ts for clarity
  packages/cli/src/commands/composer.ts
Due: format, lint, type-check

feat: enhance GitStack service with GitLive integration and type improvements
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

refactor: improve formatting and readability in GitStack tests
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

feat: enhance OpenComposer CLI with version and help commands
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

refactor: improve code formatting in GitStack tests
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

refactor: update type imports in GitStack service
  packages/git-stack/src/index.ts
  packages/git-stack/test/git-stack.test.ts
Due: format, lint, type-check

feat: enhance GitStack with comprehensive branch tracking and stacked PR visualization (#41)
  bun.lock
  packages/cli/package.json
  packages/cli/src/services/stack-cli.ts
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  packages/git-worktrees/package.json
  packages/git-worktrees/src/index.ts
  packages/git-worktrees/src/worktrees.ts
  packages/git-worktrees/test/utils.ts
  packages/git/package.json
  packages/git/src/commands.ts
  packages/git/src/core.ts
  packages/git/src/index.ts
  packages/git/test/git.test.ts
  packages/git/tsconfig.json
Due: format, lint, type-check

feat: add PostHog telemetry integration to CLI (#44)
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/agents.ts
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/git-worktree.ts
  packages/cli/src/commands/stack.ts
  packages/cli/src/commands/tui.ts
  packages/cli/src/components/Layout.tsx
  packages/cli/src/lib/version.ts
  packages/cli/src/services/telemetry.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: format, lint, type-check

feat: add prepublish script for multi-platform CLI builds
  packages/cli/package.json
  packages/cli/scripts/prepublish.ts
  packages/cli/src/lib/version.ts
  packages/cli/tsconfig.json
Due: format, lint, type-check

refactor: streamline TypeScript configuration and enhance prepublish script
  packages/cli/scripts/prepublish.ts
  packages/cli/tsconfig.json
Due: format, lint, type-check

Update packages/cli/scripts/prepublish.ts
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: add prepublishOnly script and integrate into Turbo workflow
  .github/workflows/changesets.yml
  package.json
  turbo.json
Due: format

refactor: improve prepublish script logic and readability
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor: enhance package naming consistency in prepublish script
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor: enhance prepublish script for cross-platform builds
  packages/cli/scripts/prepublish.ts
Due: format, lint, type-check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
