Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

Use Changesets GitHub changelog (#171)
  .changeset/config.json
  bun.lock
  package.json
Due: format

feat: implement dynamic help text generation for CLI
  .changeset/feat-dynamic-help-text.md
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/config-command.ts
  apps/cli/src/index.ts
  apps/cli/src/services/config-service.ts
  apps/cli/tests/commands/config.test.ts
  apps/cli/tests/services/agent-service.test.ts
  packages/config/src/index.ts
Due: format, lint, type-check

chore: update
  .changeset/config.json
  package.json
Due: format

feat: implement dynamic help text generation for CLI (#173)
  .changeset/feat-dynamic-help-text.md
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/config-command.ts
  apps/cli/src/index.ts
  apps/cli/src/services/config-service.ts
  apps/cli/tests/commands/config.test.ts
  apps/cli/tests/services/agent-service.test.ts
  bun.lock
  package.json
  packages/config/src/index.ts
Due: format, lint, type-check

feat: add issues write permission to todo workflow
  .github/workflows/todo.yml
Due: format

feat: add issues write permission to todo workflow (#174)
  .github/workflows/todo.yml
Due: format

feat: add CLI help text snapshot test
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  apps/cli/tests/cli.test.tsx
Due: format, lint, type-check

feat: add CLI help text snapshot test (#181)
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  apps/cli/tests/cli.test.tsx
Due: format, lint, type-check

feat: implement command builder pattern for CLI architecture
  .changeset/feat-command-builder-pattern.md
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/cache-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/config-command.ts
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/sessions-command.ts
  apps/cli/src/commands/settings-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/src/commands/stack-command.ts
  apps/cli/src/commands/status-command.ts
  apps/cli/src/commands/telemetry-command.ts
  apps/cli/src/commands/tui-command.ts
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/types/commands.ts
  apps/cli/tests/services/gh-pr-service.test.ts
  workers/posthog/test/setup.ts
Due: format, lint, type-check

chore: update
  workers/posthog/test/setup.ts
Due: format, lint, type-check

Update apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

Revert "chore: update"
  workers/posthog/test/setup.ts
Due: format, lint, type-check

feat: add process runner and session management to CLI
  apps/cli/.open-composer/sessions.json
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/session-command.ts
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  apps/cli/tests/commands/process-runner-e2e.test.ts
  apps/cli/tests/ui/__snapshots__/SessionCreatePrompt.test.tsx.snap
  bun.lock
  package.json
  packages/process-runner/.open-composer/sessions.json
  packages/process-runner/package.json
  packages/process-runner/src/constants.ts
  packages/process-runner/src/core.ts
  packages/process-runner/src/index.ts
  packages/process-runner/src/log-manager.ts
  packages/process-runner/src/types.ts
  packages/process-runner/src/utils.ts
  packages/process-runner/tests/comprehensive.test.ts
  packages/process-runner/tests/persistence-e2e.test.ts
  packages/process-runner/tests/process-runner.test.ts
  packages/process-runner/tsconfig.json
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

chore: update
  apps/cli/.open-composer/sessions.json
  apps/cli/src/commands/session-command.ts
  packages/process-runner/src/core.ts
  packages/process-runner/tests/command-execution.test.ts
Due: format, lint, type-check

chore: update
  apps/cli/tests/services/gh-pr-service.test.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

refactor: simplify HELP_TEXT_BUILDERS filter syntax in composer-command.ts
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

feat: implement command builder pattern for CLI architecture (#182)
  .changeset/feat-command-builder-pattern.md
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/cache-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/config-command.ts
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/sessions-command.ts
  apps/cli/src/commands/settings-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/src/commands/stack-command.ts
  apps/cli/src/commands/status-command.ts
  apps/cli/src/commands/telemetry-command.ts
  apps/cli/src/commands/tui-command.ts
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/types/commands.ts
  apps/cli/tests/services/gh-pr-service.test.ts
  workers/posthog/test/setup.ts
Due: format, lint, type-check

Update package.json
  package.json
Due: format

Update package.json (#183)
  package.json
Due: format

chore: update dependencies in package.json and bun.lock
  bun.lock
  package.json
Due: format

chore: update dependencies in package.json and bun.lock (#184)
  bun.lock
  package.json
Due: format

chore: update
  apps/cli/.open-composer/sessions.json
  packages/process-runner/src/core.ts
Due: format, lint, type-check

chore: update
  apps/cli/.open-composer/sessions.json
  apps/cli/src/commands/session-command.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

feat: enhance session management and logging in ProcessRunnerService
  apps/cli/.open-composer/sessions.json
  apps/cli/src/commands/session-command.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

feat: add test mode support to avoid interactive prompts in session commands
  apps/cli/.open-composer/sessions.json
  apps/cli/src/commands/session-command.ts
  apps/cli/tests/commands/process-runner-e2e.test.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

chore: add changeset for test mode and session management enhancements
  .changeset/feat-test-mode-session-management.md
Due: format

fix: correct formatting in buildSessionCommand for improved readability
  apps/cli/src/commands/session-command.ts
Due: format, lint, type-check

fix: reorder commands in CLI snapshot for accurate representation
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
Due: none

feat: add test mode support and enhance session management (#187)
  .changeset/feat-test-mode-session-management.md
  apps/cli/.open-composer/sessions.json
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/session-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  apps/cli/tests/commands/process-runner-e2e.test.ts
  apps/cli/tests/ui/__snapshots__/SessionCreatePrompt.test.tsx.snap
  bun.lock
  package.json
  packages/process-runner/.open-composer/sessions.json
  packages/process-runner/package.json
  packages/process-runner/src/constants.ts
  packages/process-runner/src/core.ts
  packages/process-runner/src/index.ts
  packages/process-runner/src/log-manager.ts
  packages/process-runner/src/types.ts
  packages/process-runner/src/utils.ts
  packages/process-runner/tests/command-execution.test.ts
  packages/process-runner/tests/comprehensive.test.ts
  packages/process-runner/tests/persistence-e2e.test.ts
  packages/process-runner/tests/process-runner.test.ts
  packages/process-runner/tsconfig.json
Due: format, lint, type-check

fix: improve auto-merge workflow configuration
  .github/workflows/auto-merge.yml
Due: format

fix: correct job names in auto-merge workflow configuration
  .github/workflows/auto-merge.yml
Due: format

fix: improve auto-merge workflow configuration (#188)
  .github/workflows/auto-merge.yml
Due: format

fix: update auto-merge workflow to use PAT_TOKEN
  .github/workflows/auto-merge.yml
Due: format

fix: update auto-merge workflow to use PAT_TOKEN (#190)
  .github/workflows/auto-merge.yml
Due: format

chore: remove unused node-pty dependency
  .changeset/chore-remove-node-pty-dependency.md
  bun.lock
  package.json
Due: format

chore: remove unused node-pty dependency (#191)
  .changeset/chore-remove-node-pty-dependency.md
  bun.lock
  package.json
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
