Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

feat: update build configuration and dependencies (#138)
  .gitignore
  Makefile
  bun.lock
Due: none

feat: consolidate turbo build scripts and commands
  package.json
  turbo.json
Due: format

feat: add linting task to turbo configuration
  package.json
  turbo.json
Due: format

Update turbo.json
  turbo.json
Due: format

feat: consolidate turbo build scripts and commands (#139)
  package.json
  turbo.json
Due: format

Version Packages (#136)
  .changeset/interactive-consent.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: update prepublish script environment variable
  apps/cli/scripts/prepublish.ts
  bun.lock
Due: format, lint, type-check

fix: update prepublish script environment variable (#140)
  apps/cli/scripts/prepublish.ts
  bun.lock
Due: format, lint, type-check

refactor: organize imports and formatting in CLI components
  apps/cli/src/components/ChatInterface.tsx
  apps/cli/src/components/CodeEditor.tsx
  apps/cli/src/components/ComposerApp.tsx
  apps/cli/src/components/Layout.tsx
  apps/cli/src/components/Sidebar.tsx
Due: format, lint, type-check

refactor: organize imports and formatting in CLI components (#141)
  apps/cli/src/components/ChatInterface.tsx
  apps/cli/src/components/CodeEditor.tsx
  apps/cli/src/components/ComposerApp.tsx
  apps/cli/src/components/Layout.tsx
  apps/cli/src/components/Sidebar.tsx
Due: format, lint, type-check

feat: add database package with SQLite support
  bun.lock
  packages/db/migrations/0000_create_settings.ts
  packages/db/package.json
  packages/db/src/index.ts
  packages/db/src/schema.ts
  packages/db/tests/database.test.ts
  packages/db/tsconfig.json
Due: format, lint, type-check

docs: add changeset for CLI component refactor
  .changeset/organize-cli-imports.md
Due: format

fix: improve prepublish script for changeset releases
  .changeset/prepublish-fix.md
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Delete .changeset/organize-cli-imports.md
  .changeset/organize-cli-imports.md
Due: format

fix: improve prepublish script for changeset releases (#143)
  .changeset/prepublish-fix.md
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Delete .changeset/prepublish-fix.md
  .changeset/prepublish-fix.md
Due: format

Delete .changeset/prepublish-fix.md (#144)
  .changeset/prepublish-fix.md
Due: format

Add MIT License to the project
  LICENSE
Due: none

Add MIT License to the project (#145)
  LICENSE
Due: none

feat: add database package with SQLite support (#142)
  .changeset/organize-cli-imports.md
  bun.lock
  packages/db/migrations/0000_create_settings.ts
  packages/db/package.json
  packages/db/src/index.ts
  packages/db/src/schema.ts
  packages/db/tests/database.test.ts
  packages/db/tsconfig.json
Due: format, lint, type-check

feat: initialize database and run migrations on CLI startup
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/src/commands/composer.ts
Due: format, lint, type-check

feat: initialize database and run migrations on CLI startup (#147)
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/src/commands/composer.ts
Due: format, lint, type-check

feat: add settings CLI command with database integration
  packages/db/src/index.ts
Due: format, lint, type-check

feat: enhance settings CLI command with database integration
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/settings.ts
  apps/cli/src/index.ts
  apps/cli/src/services/settings.ts
Due: format, lint, type-check

fix: make ensureDatabaseInitialized run proper migrations instead of hardcoded SQL
  packages/db/src/index.ts
Due: format, lint, type-check

feat: enhance CLI with settings management and database integration
  apps/cli/src/services/settings.ts
  packages/db/migrations/0001_add_user_table.ts
  packages/db/migrations/_schema.sql
  packages/db/src/index.ts
  packages/db/src/schema.ts
Due: format, lint, type-check

fix: prevent crash in settings list table formatting
  apps/cli/src/commands/settings.ts
Due: format, lint, type-check

feat: add database and settings snapshot functionality
  packages/db/migrations/_schema.sql
  packages/db/src/index.ts
  packages/db/tests/database.test.ts
Due: format, lint, type-check

fix: update migration timestamp for user table
  packages/db/migrations/_schema.sql
  packages/db/src/index.ts
Due: format, lint, type-check

chore: remove generated _schema.sql from git tracking
  .gitignore
  packages/db/migrations/_schema.sql
Due: none

feat: add database and settings snapshot functionality
  .changeset/database-settings-snapshots.md
Due: format

feat: add settings CLI command with database integration (#148)
  .changeset/database-settings-snapshots.md
  .gitignore
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/settings.ts
  apps/cli/src/index.ts
  apps/cli/src/services/settings.ts
  packages/db/migrations/0001_add_user_table.ts
  packages/db/src/index.ts
  packages/db/src/schema.ts
  packages/db/tests/database.test.ts
Due: format, lint, type-check

Version Packages (#146)
  .changeset/database-settings-snapshots.md
  .changeset/organize-cli-imports.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
Due: format

feat: add comprehensive database snapshot functionality
  packages/db/src/index.ts
  packages/db/tests/database.test.ts
  packages/db/tests/migrations.test.ts
Due: format, lint, type-check

feat: add comprehensive database snapshot functionality
  .changeset/database-snapshot-functionality.md
Due: format

feat: add comprehensive database snapshot functionality (#149)
  .changeset/database-snapshot-functionality.md
  packages/db/src/index.ts
  packages/db/tests/database.test.ts
  packages/db/tests/migrations.test.ts
Due: format, lint, type-check

fix: resolve CLI command test errors
  apps/cli/src/commands/agents.ts
  apps/cli/src/commands/settings.ts
  apps/cli/src/commands/telemetry.ts
  apps/cli/src/commands/tui.ts
  apps/cli/tests/commands/agents.test.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/git-worktree.test.ts
  apps/cli/tests/commands/settings.test.ts
  apps/cli/tests/commands/stack.test.ts
  apps/cli/tests/commands/telemetry.test.ts
  apps/cli/tests/commands/tui.test.ts
Due: format, lint, type-check

fix: enhance CLI command error handling and testing
  .changeset/cli-test-fixes.md
Due: format

fix: correct React.createElement mock in TUI test
  apps/cli/tests/commands/tui.test.ts
Due: format, lint, type-check

refactor: update render function to be asynchronous and adjust tests accordingly
  apps/cli/tests/ui/index.test.tsx
  apps/cli/tests/utils.ts
Due: format, lint, type-check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
