Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

feat: improve release workflow with snapshot support
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor: enhance prepublish script for clarity and organization
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: improve release workflow with snapshot support (#101)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: improve changeset release workflow detection and git reset
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: improve changeset release workflow detection and git reset (#102)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: standardize changeset release workflow environment variables
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

fix: update changesets action version in workflow
  .github/workflows/changesets.yml
Due: format

fix: add PUBLISH_PACKAGES environment variable to turbo.json
  apps/cli/turbo.json
Due: format

fix: standardize changeset release workflow environment variables (#103)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

chore: optimize CLI build configuration and fix linting issues
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

chore: optimize CLI build configuration and fix linting issues (#104)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

fix: update changeset action to latest SHA
  .github/workflows/changesets.yml
Due: format

fix: update changeset action to latest SHA (#105)
  .github/workflows/changesets.yml
Due: format

chore: update changesets action to latest version
  .github/workflows/changesets.yml
Due: format

chore: update changesets action to latest version (#106)
  .github/workflows/changesets.yml
Due: format

fix: export GitHub environment variables in push workflow
  .github/workflows/changesets.yml
Due: format

fix: export GitHub environment variables in push workflow (#107)
  .github/workflows/changesets.yml
Due: format

feat: add GitHub environment variables to turbo config
  apps/cli/turbo.json
Due: format

feat: add GitHub environment variables to turbo config (#108)
  apps/cli/turbo.json
Due: format

feat: improve changeset release workflow detection
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

fix: simplify changeset release detection logic in prepublish script
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: improve changeset release workflow detection (#109)
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

fix: improve prepublish script versioning for snapshot releases
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor: clean up prepublish script formatting
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: improve prepublish script versioning for snapshot releases (#110)
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor(cli): clean up prepublish script
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor(cli): clean up prepublish script (#111)
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: skip snapshot releases in release workflow
  .github/workflows/release.yml
Due: format

feat: skip snapshot releases in release workflow (#112)
  .github/workflows/release.yml
Due: format

ci: allow release jobs to be skipped in workflow
  .github/workflows/release.yml
Due: format

ci: allow release jobs to be skipped in workflow (#113)
  .github/workflows/release.yml
Due: format

feat: add telemetry management system
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/telemetry.ts
  apps/cli/src/index.ts
  apps/cli/src/services/config.ts
  apps/cli/src/services/telemetry.ts
  apps/cli/tests/services/config.test.ts
Due: format, lint, type-check

feat: add telemetry management system with privacy-first approach
  apps/cli/package.json
  apps/cli/src/commands/composer.ts
  apps/cli/src/services/config.ts
  apps/cli/src/services/telemetry.ts
  bun.lock
  package.json
Due: format, lint, type-check

fix: enable telemetry in composer command
  apps/cli/src/commands/composer.ts
  package.json
Due: format, lint, type-check

feat: add telemetry management system with privacy-first approach (#114)
  apps/cli/package.json
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/telemetry.ts
  apps/cli/src/index.ts
  apps/cli/src/services/config.ts
  apps/cli/src/services/telemetry.ts
  apps/cli/tests/services/config.test.ts
  bun.lock
Due: format, lint, type-check

feat: enhance telemetry and posthog integration
  .changeset/feat-telemetry-posthog-updates.md
  apps/cli/src/services/telemetry.ts
  bun.lock
  workers/posthog/src/index.ts
  workers/posthog/wrangler.toml
Due: format, lint, type-check

refactor: format telemetry configuration for improved readability
  apps/cli/src/services/telemetry.ts
Due: format, lint, type-check

refactor: improve formatting of telemetry service configuration
  apps/cli/src/services/telemetry.ts
Due: format, lint, type-check

fix: update PostHog host configuration
  workers/posthog/wrangler.toml
Due: none

refactor: simplify PostHog event handling
  workers/posthog/src/index.ts
Due: format, lint, type-check
