Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

feat: add comprehensive Bun runtime model support (#63)
  .changeset/curvy-cars-show.md
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Version Packages (#64)
  .changeset/curvy-cars-show.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

chore: update dependencies and configuration
  .changeset/hip-places-beg.md
  .github/workflows/changesets.yml
  apps/cli/scripts/publish.ts
  package.json
Due: format, lint, type-check

chore: update dependencies and configuration (#65)
  .changeset/hip-places-beg.md
  .github/workflows/changesets.yml
  apps/cli/scripts/publish.ts
  package.json
Due: format, lint, type-check

Version Packages (#66)
  .changeset/hip-places-beg.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

chore: update changesets workflow configuration
  .changeset/hungry-weeks-knock.md
  .github/workflows/changesets.yml
Due: format

Delete .changeset/hip-places-beg.md
  .changeset/hip-places-beg.md
Due: format

chore: update changesets workflow configuration (#67)
  .changeset/hungry-weeks-knock.md
  .github/workflows/changesets.yml
Due: format

Version Packages (#68)
  .changeset/hungry-weeks-knock.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

refactor: streamline publishing workflow
  .changeset/afraid-wolves-film.md
  .github/workflows/changesets.yml
  apps/cli/package.json
  package.json
Due: format

refactor: streamline publishing workflow (#69)
  .changeset/afraid-wolves-film.md
  .github/workflows/changesets.yml
  apps/cli/package.json
  package.json
Due: format

Version Packages (#70)
  .changeset/afraid-wolves-film.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

chore: add prepublishOnly script and update publishing workflow
  .changeset/neat-eggs-cough.md
  .github/workflows/changesets.yml
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/scripts/publish.ts
Due: format, lint, type-check

chore: add prepublishOnly script and update publishing workflow (#71)
  .changeset/neat-eggs-cough.md
  .github/workflows/changesets.yml
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/scripts/publish.ts
Due: format, lint, type-check

chore: update changesets workflow to use ZIP files for releases
  .github/workflows/changesets.yml
Due: format

chore: remove RELEASE_ZIP_FILES from changesets workflow
  .github/workflows/changesets.yml
Due: format

chore: remove RELEASE_ZIP_FILES from changesets workflow (#73)
  .github/workflows/changesets.yml
Due: format

Version Packages (#72)
  .changeset/neat-eggs-cough.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: prevent prepublish script from publishing main package during Changesets
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: prevent prepublish script from publishing main package during Changesets (#74)
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: remove publishing logic from prepublish script
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: update prepublish script to correctly handle binaries and packaging
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: resolve prepublish script publishing conflict in Changesets workflow (#75)
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: add open-composer preparation destination
  .changeset/flat-turkeys-carry.md
Due: format

feat: add open-composer preparation destination (#76)
  .changeset/flat-turkeys-carry.md
Due: format

Version Packages (#77)
  .changeset/flat-turkeys-carry.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/agent-router/CHANGELOG.md
  packages/agent-router/package.json
  packages/git-stack/CHANGELOG.md
  packages/git-stack/package.json
  packages/git-worktrees/CHANGELOG.md
  packages/git-worktrees/package.json
  packages/git/CHANGELOG.md
  packages/git/package.json
  workers/posthog/CHANGELOG.md
  workers/posthog/package.json
Due: format

feat: add prepublishOnly flow
  .changeset/calm-cloths-pull.md
  .github/workflows/release.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/src/lib/version.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

refactor: improve code formatting and structure in CLI scripts
  apps/cli/scripts/prepublish.ts
  apps/cli/src/lib/version.ts
  apps/cli/turbo.json
Due: format, lint, type-check

feat: add prepublishOnly flow (#78)
  .changeset/calm-cloths-pull.md
  .github/workflows/release.yml
  apps/cli/scripts/prepublish.ts
  apps/cli/src/lib/version.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

Version Packages (#79)
  .changeset/calm-cloths-pull.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: enhance prepublish workflow with improved script and turbo configuration
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

fix: streamline file array formatting in prepublish script
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

feat: enable open-composer release preparation in workflows
  .github/workflows/changesets.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: enhance prepublish script to manage binaries and packaging
  apps/cli/.gitignore
Due: none

chore: release open-composer version 0.3.10
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: enhance prepublish workflow with improved script and turbo configuration (#80)
  .changeset/calm-cloths-pull.md
  .github/workflows/changesets.yml
  apps/cli/.gitignore
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
Due: format, lint, type-check

Version Packages (#81)
  .changeset/calm-cloths-pull.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

refactor(cli): support scoped package names for binaries
  apps/cli/.gitignore
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

refactor(cli): support scoped package names for binaries (#82)
  apps/cli/.gitignore
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
