Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

Remove description fields from package.json files (#205)
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/types/package.json
  packages/cache/package.json
  packages/config/package.json
  workers/posthog/package.json
Due: format

Adopt Bun's native concurrent and serial test APIs (#198)
  apps/cli/tests/commands/agents.test.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/config.test.ts
  apps/cli/tests/commands/git-worktree.test.ts
  apps/cli/tests/commands/pr-create.test.ts
  apps/cli/tests/commands/sessions.test.ts
  apps/cli/tests/commands/settings.test.ts
  apps/cli/tests/commands/stack.test.ts
  apps/cli/tests/services/agent-service.test.ts
  apps/cli/tests/services/cache-service.test.ts
  apps/cli/tests/services/config-service.test.ts
  apps/cli/tests/services/gh-pr-service.test.ts
  apps/cli/tests/services/git-worktree-service.test.ts
  apps/cli/tests/services/sessions-service.test.ts
  apps/cli/tests/services/settings-service.test.ts
  apps/cli/tests/services/stack-service.test.ts
  apps/cli/tests/services/telemetry-service.test.ts
  packages/agent-router/tests/agent-router.test.ts
  packages/cache/tests/cache.test.ts
  packages/config/tests/config.test.ts
  packages/db/tests/database.test.ts
  packages/db/tests/migrations.test.ts
  packages/gh-pr/tests/gh-pr.test.ts
  packages/gh/tests/gh.test.ts
  packages/git-stack/tests/git-stack.test.ts
  packages/git-worktrees/tests/worktrees.test.ts
  packages/git/tests/git.test.ts
  packages/tmux/tests/tmux.test.ts
Due: format, lint, type-check

refactor: improve type safety and code clarity in database operations
  packages/db/src/index.ts
  packages/db/tests/database.test.ts
  packages/db/tests/migrations.test.ts
Due: format, lint, type-check

refactor: streamline database test code for improved readability
  packages/db/tests/database.test.ts
Due: format, lint, type-check

fix(tests): address type incompatibility warnings in database tests
  packages/db/tests/database.test.ts
Due: format, lint, type-check

feat: db layer migration (#207)
  packages/db/src/index.ts
  packages/db/tests/database.test.ts
  packages/db/tests/migrations.test.ts
Due: format, lint, type-check

refactor: migrate agent-router package to agents directory and update imports
  agents/agent-router/CHANGELOG.md
  agents/agent-router/package.json
  agents/agent-router/src/index.ts
  agents/agent-router/tests/agent-router.test.ts
  agents/agent-router/tsconfig.json
  agents/agent-router/tsconfig.src.json
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/src/commands/status-command.ts
  apps/cli/src/services/agent-service.ts
  bun.lock
Due: format, lint, type-check

refactor: update imports for agent-router in CLI commands
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/src/commands/status-command.ts
  apps/cli/src/services/agent-service.ts
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format, lint, type-check

fix: correct trailing comma in CLI command configuration and remove unnecessary newlines in TypeScript config files
  apps/cli/src/commands/agents-command.ts
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format, lint, type-check

refactor: restructure agent-router package and update TypeScript configuration
  agents/router/CHANGELOG.md
  agents/router/package.json
  agents/router/src/index.ts
  agents/router/tests/agent-router.test.ts
  agents/router/tsconfig.json
  agents/router/tsconfig.src.json
  tsconfig.json
Due: format, lint, type-check

fix: add missing newline at end of tsconfig.json file
  tsconfig.json
Due: format

refactor: reorganize agent packages in bun.lock
  bun.lock
Due: none

fix: add missing newline at end of tsconfig.src.json files
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format

fix: remove trailing newline from tsconfig.src.json files
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format

chore: refactor path (#208)
  agents/router/CHANGELOG.md
  agents/router/package.json
  agents/router/src/index.ts
  agents/router/tests/agent-router.test.ts
  agents/router/tsconfig.json
  agents/router/tsconfig.src.json
  apps/cli/src/commands/agents-command.ts
  bun.lock
  tsconfig.json
Due: format, lint, type-check

chore: remove bunfig.toml and update crypto mock in basic tests
  bunfig.toml
  workers/posthog/tests/basic.test.ts
Due: format, lint, type-check

fix: add missing newline at end of tsconfig.src.json files in process-runner and tmux packages
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format

fix: remove trailing newlines from tsconfig.src.json files in process-runner and tmux packages
  packages/process-runner/tsconfig.src.json
  packages/tmux/tsconfig.src.json
Due: format

fix bunfig test (#209)
  bunfig.toml
  workers/posthog/tests/basic.test.ts
Due: format, lint, type-check

feat: add bun test setup and documentation
  FAQ.md
  bun-test-setup.ts
  bunfig.toml
Due: format, lint, type-check

style(bun-test-setup): format console.error calls for readability
  bun-test-setup.ts
Due: format, lint, type-check

feat: add bun test setup and documentation (#210)
  FAQ.md
  bun-test-setup.ts
  bunfig.toml
Due: format, lint, type-check

feat: add cursor configuration files
  .cursor/Dockerfile
  .cursor/environment.json
Due: format

feat: add cursor configuration files (#211)
  .cursor/Dockerfile
  .cursor/environment.json
Due: format

chore: update Dockerfile to use new dotfiles image SHA
  .cursor/Dockerfile
Due: none

chore: update Dockerfile to use new dotfiles image SHA (#212)
  .cursor/Dockerfile
Due: none

fix: resolve Docker git config permissions issue
  .changeset/fix-docker-git-config.md
  .cursor/Dockerfile
Due: format

fix: resolve Docker git config permissions issue (#213)
  .changeset/fix-docker-git-config.md
  .cursor/Dockerfile
Due: format

fix: resolve Docker container startup issues
  .changeset/fix-docker-git-config.md
  .cursor/Dockerfile
Due: format

fix: resolve Docker container startup issues (#215)
  .changeset/fix-docker-git-config.md
  .cursor/Dockerfile
Due: format

feat: add Temporal Helm chart as submodule and fix background agent permissions
  .cursor/Dockerfile
  .gitmodules
Due: none

Removes temporalio Helm chart submodule
  .gitmodules
Due: none

Apply suggestion from @Copilot
  .cursor/Dockerfile
Due: none

feat: add Temporal Helm chart as submodule and fix background agent permissions (#216)
  .cursor/Dockerfile
Due: none

Version Packages (#214)
  .changeset/fix-docker-git-config.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

Remove .cursor Dockerfile and environment.json files to streamline project structure and eliminate unused configurations.
  .cursor/Dockerfile
  .cursor/environment.json
Due: format

chore: remove unused .cursor configuration files (#217)
  .cursor/Dockerfile
  .cursor/environment.json
Due: format

feat: add static migration handling and update migration logic
  packages/db/package.json
  packages/db/src/index.ts
Due: format, lint, type-check
