Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

feat: add static migration handling and update migration logic (#218)
  packages/db/package.json
  packages/db/src/index.ts
Due: format, lint, type-check

feat: update workflows and scripts for improved release handling and environment variable management
  .changeset/quick-eels-wave.md
  .github/workflows/changesets.yml
  .github/workflows/release.yml
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

chore: simplify environment variable declaration in prepublishOnly task
  apps/cli/turbo.json
Due: format

feat: ini latest release (#219)
  .changeset/quick-eels-wave.md
  .github/workflows/changesets.yml
  .github/workflows/release.yml
  apps/cli/package.json
  apps/cli/scripts/prepublish.ts
  apps/cli/turbo.json
  package.json
Due: format, lint, type-check

Version Packages (#220)
  .changeset/quick-eels-wave.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: update action versions in workflow files
  .changeset/mighty-dragons-invite.md
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/bun.yml
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Due: format

feat: update action versions in workflow files (#221)
  .changeset/mighty-dragons-invite.md
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/bun.yml
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Due: format

Version Packages (#222)
  .changeset/mighty-dragons-invite.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: add type-check script to package.json for multiple agents
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/types/package.json
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/services/agent-service.ts
  apps/cli/src/services/git-worktree-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/stack-service.ts
  apps/cli/tests/services/gh-pr-service.test.ts
  packages/gh-pr/src/index.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

chore(deps): update @biomejs/biome and application version
  bun.lock
  packages/tmux/src/core.ts
Due: format, lint, type-check

Refactor killSession method in TmuxService for improved readability
  packages/tmux/src/core.ts
Due: format, lint, type-check

refactor: streamline console logging across CLI services
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/services/agent-service.ts
  apps/cli/src/services/git-worktree-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/stack-service.ts
  packages/gh-pr/src/index.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

feat(cli): add tests for upgrade command functionality
  .github/workflows/install.yml
  README.md
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/commands/upgrade-command.ts
  apps/cli/tests/commands/upgrade.test.ts
  apps/landing/src/app/install/route.ts
  bun.lock
  install.sh
  packages/git-releases/README.md
  packages/git-releases/package.json
  packages/git-releases/src/core.ts
  packages/git-releases/src/index.ts
  packages/git-releases/src/version.ts
  packages/git-releases/tests/core.test.ts
  packages/git-releases/tests/version.test.ts
  packages/git-releases/tsconfig.json
  packages/git-releases/tsconfig.src.json
Due: format, lint, type-check

feat: add type-check script to package.json for multiple agents (#224)
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/types/package.json
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/services/agent-service.ts
  apps/cli/src/services/git-worktree-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/stack-service.ts
  apps/cli/tests/services/gh-pr-service.test.ts
  packages/gh-pr/src/index.ts
  packages/process-runner/src/core.ts
Due: format, lint, type-check

feat: update type-check scripts to use --build option across all packages
  .vscode/settings.json
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/router/package.json
  agents/types/package.json
  apps/cli/package.json
  package.json
  packages/cache/package.json
  packages/config/package.json
  packages/db/package.json
  packages/gh-pr/package.json
  packages/gh/package.json
  packages/git-stack/package.json
  packages/git-worktrees/package.json
  packages/git/package.json
  packages/process-runner/package.json
  packages/tmux/package.json
  tsconfig.json
  workers/posthog/package.json
Due: format

chore: format settings.json for consistent indentation
  .vscode/settings.json
Due: format

refactor: improve option handling and type definitions across commands and services
  apps/cli/src/commands/gh-pr-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/session-command.ts
  apps/cli/src/commands/spawn-command.ts
  apps/cli/src/commands/status-command.ts
  apps/cli/src/commands/telemetry-command.ts
  apps/cli/src/components/ComposerApp.tsx
  apps/cli/src/components/GitWorktreeCreatePrompt.tsx
  apps/cli/src/services/gh-pr-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/settings-service.ts
  apps/cli/src/services/stack-service.ts
  apps/cli/src/services/telemetry-service.ts
  apps/cli/tests/commands/config.test.ts
  apps/cli/tests/index.test.tsx
  apps/cli/tests/services/agent-service.test.ts
  apps/cli/tests/services/cache-service.test.ts
  apps/cli/tests/services/stack-service.test.ts
  apps/cli/tests/services/telemetry-service.test.ts
  apps/cli/tests/setup.ts
  tsconfig.base.json
Due: format, lint, type-check

fix: add biome-ignore comments for type incompatibility in sessions and settings services
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/settings-service.ts
Due: format, lint, type-check

Handle nested archive path when renaming binary during upgrade (merges into #225)
  apps/cli/src/commands/upgrade-command.ts
  apps/cli/tests/commands/upgrade.test.ts
Due: format, lint, type-check

feat: enhance testing capabilities in package.json
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  package.json
Due: format

feat(cli): enhance upgrade command functionality and improve error handling
  apps/cli/src/commands/upgrade-command.ts
  apps/cli/tests/commands/upgrade.test.ts
  apps/landing/src/app/install/route.ts
  packages/git-releases/src/version.ts
  packages/git-releases/tests/core.test.ts
Due: format, lint, type-check

feat(cli): add tests for upgrade command functionality (#225)
  .github/workflows/install.yml
  README.md
  apps/cli/package.json
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/run-command.ts
  apps/cli/src/commands/upgrade-command.ts
  apps/cli/tests/__snapshots__/cli.test.tsx.snap
  apps/cli/tests/commands/upgrade.test.ts
  apps/landing/src/app/install/route.ts
  bun.lock
  install.sh
  package.json
  packages/git-releases/README.md
  packages/git-releases/package.json
  packages/git-releases/src/core.ts
  packages/git-releases/src/index.ts
  packages/git-releases/src/version.ts
  packages/git-releases/tests/core.test.ts
  packages/git-releases/tests/version.test.ts
  packages/git-releases/tsconfig.json
  packages/git-releases/tsconfig.src.json
Due: format, lint, type-check

Run echo command in terminal
  .cursor/worktrees.json
  .github/workflows/changesets.yml
  Makefile
  conductor.json
Due: format

chore: update
  .cursor/worktrees.json
Due: format

Run echo command in terminal (#228)
  .cursor/worktrees.json
  .github/workflows/changesets.yml
  Makefile
  conductor.json
Due: format

refactor(install): improve installation logic and error handling
  install.sh
Due: none

refactor(install): improve installation logic and error handling (#229)
  install.sh
Due: none

fix: correct CLI binary naming from opencomposer to open-composer
  apps/cli/scripts/prepublish.ts
  install.sh
Due: format, lint, type-check

docs: add changeset for CLI binary naming fix
  .changeset/full-signs-start.md
Due: format

fix: correct CLI binary naming from opencomposer to open-composer (#230)
  .changeset/full-signs-start.md
  apps/cli/scripts/prepublish.ts
  install.sh
Due: format, lint, type-check

Version Packages (#231)
  .changeset/full-signs-start.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

Update release.yml
  .github/workflows/release.yml
Due: format

Update release.yml (#232)
  .github/workflows/release.yml
Due: format

fix: update file path in release.yml for artifact upload (#233)
  .github/workflows/release.yml
Due: format

fix: update file path in release.yml for artifact upload (#233) (#233)
  .github/workflows/release.yml
Due: format

chore: bump release version
  .changeset/cold-pillows-doubt.md
Due: format

chore: bump release version (#234)
  .changeset/cold-pillows-doubt.md
Due: format

Version Packages (#235)
  .changeset/cold-pillows-doubt.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: update CLI binary naming for consistency
  .changeset/chilly-apples-sneeze.md
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: format
