Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

chore: update Bun setup in CI workflows
  .github/workflows/bun.yml
Due: format

fix: correct reusable action reference in CI workflow
  .github/workflows/bun.yml
Due: format

chore: add checkout step to auto-approve workflow
  .github/workflows/auto-approve.yml
Due: format

chore: remove checkout step from auto-merge workflow
  .github/workflows/auto-merge.yml
Due: format

chore: update action references in GitHub workflows
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/bun.yml
Due: format

chore: update action paths in GitHub workflows
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/bun.yml
Due: format

fix: correct reusable action reference in CI workflow (#4)
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/bun.yml
Due: format

chore: streamline CI workflows by updating action references and removing redundant steps
  SPEC.md
Due: format

feat: implement initial CLI TUI with core components
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/ChatInterface.tsx
  packages/cli/src/components/CodeEditor.tsx
  packages/cli/src/components/ComposerApp.tsx
  packages/cli/src/components/Layout.tsx
  packages/cli/src/components/Sidebar.tsx
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/agent-router.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/worktree-manager.ts
Due: format, lint, type-check

style: format code and update gitignore
  .gitignore
  packages/cli/src/index.ts
Due: format, lint, type-check

feat: implement initial CLI TUI with core components (#5)
  .gitignore
  SPEC.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/components/ChatInterface.tsx
  packages/cli/src/components/CodeEditor.tsx
  packages/cli/src/components/ComposerApp.tsx
  packages/cli/src/components/Layout.tsx
  packages/cli/src/components/Sidebar.tsx
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/agent-router.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/worktree-manager.ts
Due: format, lint, type-check

feat: add comprehensive snapshot tests for CLI components
  bun.lock
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
  packages/cli/test/ui/index.test.tsx
  packages/cli/test/utils.ts
Due: format, lint, type-check

fix: update snapshot for ComposerApp test
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: none

fix: update snapshot after PR creation
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: none

Update packages/cli/test/utils.ts
  packages/cli/test/utils.ts
Due: format, lint, type-check

fix: replace any types with specific types in Date mocking
  packages/cli/test/setup.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: format, lint, type-check

fix: update snapshot with mocked timestamp
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
Due: none

Apply suggestion from @Copilot
  packages/cli/test/utils.ts
Due: format, lint, type-check

Apply suggestion from @gemini-code-assist[bot]
  packages/cli/test/utils.ts
Due: format, lint, type-check

refactor: extract TestWritableStream base class for Stdout/Stderr
  packages/cli/test/setup.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
  packages/cli/test/utils.ts
Due: format, lint, type-check

Fix TypeScript error: use mock.module instead of vi.mock for Bun tests
  packages/cli/package.json
  packages/cli/src/components/ComposerApp.tsx
  packages/cli/test/setup.ts
  packages/cli/test/ui/index.test.tsx
  packages/cli/turbo.json
Due: format, lint, type-check

fix: reorder import statements in index.test.tsx for consistency
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

fix: correct TypeScript type definitions in test files
  open-composer.code-workspace
Due: none

fix: add newline at end of open-composer.code-workspace file
  open-composer.code-workspace
Due: none

test: enhance test setup with cleanup after each test
  packages/cli/test/setup.ts
Due: format, lint, type-check

feat: add comprehensive snapshot tests for CLI components (#6)
  bun.lock
  open-composer.code-workspace
  packages/cli/package.json
  packages/cli/src/components/ComposerApp.tsx
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/test/setup.ts
  packages/cli/test/ui/__snapshots__/index.test.tsx.snap
  packages/cli/test/ui/index.test.tsx
  packages/cli/test/utils.ts
  packages/cli/turbo.json
Due: format, lint, type-check

chore: initialize changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets.yml
  bun.lock
  package.json
  packages/cli/package.json
Due: format

chore: add publish script and update workflow for bun-based publishing
  .github/workflows/changesets.yml
  package.json
Due: format

chore: initialize changesets (#7)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets.yml
  bun.lock
  package.json
  packages/cli/package.json
Due: format

feat: implement Vercel microfrontends architecture
  apps/MICROFRONTENDS.md
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/landing/microfrontends.json
  apps/landing/next.config.ts
  apps/landing/package.json
  bun.lock
  package.json
Due: format, lint, type-check

fix: correct microfrontends.json application names
  apps/landing/microfrontends.json
Due: format

fix: remove problematic fallback URL from microfrontends config
  apps/landing/microfrontends.json
Due: format

fix: add required development section to microfrontends config
  apps/landing/microfrontends.json
Due: format

fix: add placeholder fallback URL to satisfy schema requirements
  apps/landing/microfrontends.json
Due: format

fix: update microfrontends.json application names to match Vercel project names
  apps/landing/microfrontends.json
Due: format
