Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

fix: improve rendering wait logic in tests
  apps/cli/tests/utils.ts
Due: format, lint, type-check

refactor: simplify render function and update tests for synchronous behavior
  apps/cli/tests/ui/index.test.tsx
  apps/cli/tests/utils.ts
Due: format, lint, type-check

refactor: consolidate telemetry commands into a single command structure
  apps/cli/src/commands/telemetry.ts
  apps/cli/src/commands/tui.ts
  apps/cli/tests/commands/telemetry.test.ts
  apps/cli/tests/commands/tui.test.ts
Due: format, lint, type-check

fix: resolve CLI command test errors (#151)
  .changeset/cli-test-fixes.md
  apps/cli/src/commands/agents.ts
  apps/cli/src/commands/settings.ts
  apps/cli/tests/commands/agents.test.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/git-worktree.test.ts
  apps/cli/tests/commands/settings.test.ts
  apps/cli/tests/commands/stack.test.ts
Due: format, lint, type-check

chore: reorganize turbo build configuration
  turbo.json
Due: format

chore: reorganize turbo build configuration (#152)
  turbo.json
Due: format

Version Packages (#150)
  .changeset/cli-test-fixes.md
  .changeset/database-snapshot-functionality.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
Due: format

refactor: separate snapshot UI testing by component
  apps/cli/tests/ui/ChatInterface.test.tsx
  apps/cli/tests/ui/CodeEditor.test.tsx
  apps/cli/tests/ui/ComposerApp.test.tsx
  apps/cli/tests/ui/GitWorktreeCreatePrompt.test.tsx
  apps/cli/tests/ui/Layout.test.tsx
  apps/cli/tests/ui/Sidebar.test.tsx
  apps/cli/tests/ui/TelemetryConsentPrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/ChatInterface.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/CodeEditor.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/ComposerApp.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/GitWorktreeCreatePrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Sidebar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/TelemetryConsentPrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

fix: update snapshot formatting for UI components
  apps/cli/tests/ui/__snapshots__/ChatInterface.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/CodeEditor.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/ComposerApp.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/GitWorktreeCreatePrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Sidebar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/TelemetryConsentPrompt.test.tsx.snap
Due: none

fix: enhance lastFrame method to strip ANSI escape codes
  apps/cli/tests/utils.ts
Due: format, lint, type-check

refactor: clean up formatting in TestWritableStream
  apps/cli/tests/utils.ts
Due: format, lint, type-check

fix: strip ANSI codes from UI component snapshots
  apps/cli/tests/utils.ts
Due: format, lint, type-check

refactor: streamline Stderr class definition
  apps/cli/tests/utils.ts
Due: format, lint, type-check

fix: enhance lastFrame method in TestWritableStream to strip ANSI escape codes
  apps/cli/tests/utils.ts
Due: format, lint, type-check

chore: update package versions in bun.lock
  bun.lock
Due: none

fix: strip ANSI codes from UI component snapshots (#154)
  apps/cli/tests/utils.ts
  bun.lock
Due: format, lint, type-check

refactor: separate UI component snapshots and strip ANSI codes
  apps/cli/tests/ui/__snapshots__/ChatInterface.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/CodeEditor.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/ComposerApp.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/GitWorktreeCreatePrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Sidebar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/TelemetryConsentPrompt.test.tsx.snap
Due: none

fix: update Layout snapshot to match current version v0.6.1
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
Due: none

fix: update Layout snapshot to use v0.0.0 for CI compatibility
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
Due: none

fix: update Layout snapshot to v0.6.1 to match CI environment
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
Due: none

feat: add PR creation and sessions commands
  apps/cli/package.json
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/pr-create.ts
  apps/cli/src/commands/sessions.ts
  apps/cli/src/services/pr-create-cli.ts
  apps/cli/src/services/sessions-cli.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/pr-create.test.ts
  apps/cli/tests/commands/sessions.test.ts
  bun.lock
  packages/db/migrations/0002_add_sessions_table.ts
  packages/db/src/schema.ts
  packages/gh-pr/CHANGELOG.md
  packages/gh-pr/package.json
  packages/gh-pr/src/index.ts
  packages/gh-pr/tests/gh-pr.test.ts
  packages/gh-pr/tsconfig.json
  packages/gh/CHANGELOG.md
  packages/gh/package.json
  packages/gh/src/commands.ts
  packages/gh/src/core.ts
  packages/gh/src/index.ts
  packages/gh/tests/gh.test.ts
  packages/gh/tsconfig.json
Due: format, lint, type-check

refactor: separate UI component snapshots and strip ANSI codes (#156)
  apps/cli/tests/ui/ChatInterface.test.tsx
  apps/cli/tests/ui/CodeEditor.test.tsx
  apps/cli/tests/ui/ComposerApp.test.tsx
  apps/cli/tests/ui/GitWorktreeCreatePrompt.test.tsx
  apps/cli/tests/ui/Layout.test.tsx
  apps/cli/tests/ui/Sidebar.test.tsx
  apps/cli/tests/ui/TelemetryConsentPrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/ChatInterface.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/CodeEditor.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/ComposerApp.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/GitWorktreeCreatePrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/Sidebar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/TelemetryConsentPrompt.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/index.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
Due: format, lint, type-check

feat: add PR creation and sessions commands
  .changeset/add-pr-sessions-commands.md
Due: format

feat: add PR creation and sessions commands (#155)
  .changeset/add-pr-sessions-commands.md
  apps/cli/package.json
  apps/cli/src/commands/composer.ts
  apps/cli/src/commands/pr-create.ts
  apps/cli/src/commands/sessions.ts
  apps/cli/src/services/pr-create-cli.ts
  apps/cli/src/services/sessions-cli.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/pr-create.test.ts
  apps/cli/tests/commands/sessions.test.ts
  bun.lock
  packages/db/migrations/0002_add_sessions_table.ts
  packages/db/src/schema.ts
  packages/gh-pr/CHANGELOG.md
  packages/gh-pr/package.json
  packages/gh-pr/src/index.ts
  packages/gh-pr/tests/gh-pr.test.ts
  packages/gh-pr/tsconfig.json
  packages/gh/CHANGELOG.md
  packages/gh/package.json
  packages/gh/src/commands.ts
  packages/gh/src/core.ts
  packages/gh/src/index.ts
  packages/gh/tests/gh.test.ts
  packages/gh/tsconfig.json
Due: format, lint, type-check

fix: add version mocks to UI tests for consistent snapshots
  apps/cli/tests/setup.ts
  apps/cli/tests/ui/Layout.test.tsx
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
Due: format, lint, type-check

fix: update version mock to 0.0.0 for snapshot consistency
  apps/cli/tests/setup.ts
  apps/cli/tests/ui/index.test.tsx
  packages/gh-pr/src/index.ts
  packages/gh/src/commands.ts
Due: format, lint, type-check

fix: add version mocks to UI tests for consistent snapshots (#157)
  apps/cli/tests/setup.ts
  apps/cli/tests/ui/Layout.test.tsx
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
  apps/cli/tests/ui/index.test.tsx
  packages/gh-pr/src/index.ts
  packages/gh/src/commands.ts
Due: format, lint, type-check

fix: improve error handling in PR creation commands
  apps/cli/src/commands/pr-create.ts
Due: format, lint, type-check

fix: improve error handling in PR creation commands (#159)
  apps/cli/src/commands/pr-create.ts
Due: format, lint, type-check

Version Packages (#158)
  .changeset/add-pr-sessions-commands.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/gh-pr/CHANGELOG.md
  packages/gh-pr/package.json
  packages/gh/CHANGELOG.md
  packages/gh/package.json
Due: format

fix: add PAT token to changesets workflow checkout
  .github/workflows/changesets.yml
Due: format

fix: update Layout snapshot version for CI compatibility
  apps/cli/tests/ui/__snapshots__/Layout.test.tsx.snap
Due: none

fix: add PAT token to changesets workflow checkout (#160)
  .github/workflows/changesets.yml
Due: format

feat: add interactive session creation with React component
  .changeset/strong-ties-start.md
  apps/cli/src/commands/sessions.ts
  apps/cli/src/components/SessionCreatePrompt.tsx
  apps/cli/src/services/sessions-cli.ts
  apps/cli/tests/ui/SessionCreatePrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/SessionCreatePrompt.test.tsx.snap
Due: format, lint, type-check

feat: add interactive session creation with React component (#161)
  .changeset/strong-ties-start.md
  apps/cli/src/commands/sessions.ts
  apps/cli/src/components/SessionCreatePrompt.tsx
  apps/cli/src/services/sessions-cli.ts
  apps/cli/tests/ui/SessionCreatePrompt.test.tsx
  apps/cli/tests/ui/__snapshots__/SessionCreatePrompt.test.tsx.snap
Due: format, lint, type-check

Version Packages (#162)
  .changeset/strong-ties-start.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

refactor: update CLI commands and services for improved structure
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/pr-create-command.ts
  apps/cli/src/commands/sessions-command.ts
  apps/cli/src/commands/settings-command.ts
  apps/cli/src/commands/stack-command.ts
  apps/cli/src/commands/telemetry-command.ts
  apps/cli/src/commands/tui-command.ts
  apps/cli/src/components/SessionCreatePrompt.tsx
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/lib/index.ts
  apps/cli/src/services/agent-service.ts
  apps/cli/src/services/config-service.ts
  apps/cli/src/services/git-worktree-service.ts
  apps/cli/src/services/pr-create-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/settings-service.ts
  apps/cli/src/services/stack-service.ts
  apps/cli/src/services/telemetry-service.ts
  apps/cli/tests/commands/agents.test.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/git-worktree.test.ts
  apps/cli/tests/commands/pr-create.test.ts
  apps/cli/tests/commands/sessions.test.ts
  apps/cli/tests/commands/settings.test.ts
  apps/cli/tests/commands/stack.test.ts
  apps/cli/tests/services/config.test.ts
  apps/cli/tests/services/telemetry.test.ts
  package.json
  turbo.json
Due: format, lint, type-check

refactor: update CLI commands and services for improved structure (#163)
  apps/cli/src/commands/agents-command.ts
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/commands/git-worktree-command.ts
  apps/cli/src/commands/pr-create-command.ts
  apps/cli/src/commands/sessions-command.ts
  apps/cli/src/commands/settings-command.ts
  apps/cli/src/commands/stack-command.ts
  apps/cli/src/commands/telemetry-command.ts
  apps/cli/src/commands/tui-command.ts
  apps/cli/src/components/SessionCreatePrompt.tsx
  apps/cli/src/index.ts
  apps/cli/src/lib/cli.ts
  apps/cli/src/lib/index.ts
  apps/cli/src/services/agent-service.ts
  apps/cli/src/services/config-service.ts
  apps/cli/src/services/git-worktree-service.ts
  apps/cli/src/services/pr-create-service.ts
  apps/cli/src/services/sessions-service.ts
  apps/cli/src/services/settings-service.ts
  apps/cli/src/services/stack-service.ts
  apps/cli/src/services/telemetry-service.ts
  apps/cli/tests/commands/agents.test.ts
  apps/cli/tests/commands/composer.test.ts
  apps/cli/tests/commands/git-worktree.test.ts
  apps/cli/tests/commands/pr-create.test.ts
  apps/cli/tests/commands/sessions.test.ts
  apps/cli/tests/commands/settings.test.ts
  apps/cli/tests/commands/stack.test.ts
  apps/cli/tests/services/config.test.ts
  apps/cli/tests/services/telemetry.test.ts
  package.json
  turbo.json
Due: format, lint, type-check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
