Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

chore: add cli release changeset
  .changeset/rich-rats-think.md
Due: format

refactor(cli): enhance prepublish script for improved binary handling
  .github/workflows/install.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

chore: add cli release changeset (#83)
  .changeset/rich-rats-think.md
Due: format

refactor(cli): enhance prepublish script for improved binary handling (#85)
  .github/workflows/install.yml
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Version Packages (#84)
  .changeset/rich-rats-think.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: revert Node.js import protocol changes in CLI scripts
  .changeset/clear-hornets-poke.md
  .github/workflows/install.yml
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: format

fix: revert Node.js import protocol changes in CLI scripts (#86)
  .changeset/clear-hornets-poke.md
  .github/workflows/install.yml
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: format

Version Packages (#87)
  .changeset/clear-hornets-poke.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: update CI install workflow condition logic
  .github/workflows/install.yml
Due: format

refactor: rename install job for clarity in CI workflow
  .github/workflows/install.yml
Due: format

fix: update CI install workflow condition logic (#88)
  .github/workflows/install.yml
Due: format

fix: update CI workflow to include changesets action permissions
  .changeset/spicy-hornets-burn.md
Due: format

fix: update changesets workflow permissions
  .github/workflows/changesets.yml
Due: format

fix: remove unnecessary write permissions for workflows in changesets action
  .github/workflows/changesets.yml
Due: format

fix: update changesets workflow to use GITHUB_TOKEN
  .github/workflows/changesets.yml
Due: format

fix: add workflows permission to changesets action (#89)
  .changeset/spicy-hornets-burn.md
  .github/workflows/changesets.yml
Due: format

feat: improve CI workflows and installation flow
  .changeset/yummy-peaches-taste.md
  .github/workflows/changesets.yml
  .github/workflows/install.yml
Due: format

feat: improve CI workflows and installation flow (#91)
  .changeset/yummy-peaches-taste.md
  .github/workflows/changesets.yml
  .github/workflows/install.yml
Due: format

Version Packages (#92)
  .changeset/yummy-peaches-taste.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: resolve Windows postinstall script platform naming mismatch
  apps/cli/scripts/postinstall.mjs
Due: none

fix: resolve Windows postinstall and CI install race condition
  .github/workflows/install.yml
Due: format

refactor: improve readability of CI install workflow matrix
  .github/workflows/install.yml
Due: format

fix: enhance CI install workflow for improved reliability
  .changeset/pretty-tools-press.md
Due: format

fix: resolve Windows postinstall and CI install race condition (#93)
  .changeset/pretty-tools-press.md
  .github/workflows/install.yml
  apps/cli/scripts/postinstall.mjs
Due: format

Version Packages (#94)
  .changeset/pretty-tools-press.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

chore: enhance CI workflows with timeout settings for install and release jobs
  .github/workflows/install.yml
  .github/workflows/release.yml
Due: format

fix: enhance binary installation process in postinstall script
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: none

fix: improve binary installation error handling and path resolution
  .changeset/slick-coins-bake.md
Due: format

fix: enhance logging in postinstall and preinstall scripts
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: none

Update apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/postinstall.mjs
Due: none

fix: enhance Windows installation process and error handling (#95)
  .changeset/slick-coins-bake.md
  .github/workflows/install.yml
  .github/workflows/release.yml
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: format

fix: enhance binary installation process in postinstall script
  apps/cli/scripts/postinstall.mjs
Due: none

fix: enhance binary installation process in postinstall script (#97)
  apps/cli/scripts/postinstall.mjs
Due: none

Version Packages (#96)
  .changeset/slick-coins-bake.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: improve install workflow verification for Windows
  .github/workflows/install.yml
Due: format

fix: improve install workflow verification for Windows (#98)
  .github/workflows/install.yml
Due: format

ci: update install workflow
  .github/workflows/install.yml
Due: format

ci: update install workflow (#99)
  .github/workflows/install.yml
Due: format

fix(ci): allow Windows command verification to continue on error
  .github/workflows/install.yml
Due: format

fix(ci): allow Windows command verification to continue on error (#100)
  .github/workflows/install.yml
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
