Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

format:
  run: bun run format

lint:
  run: bun run lint

type-check:
  run: bun run type-check

feat: improve changeset error handling in CI workflow
  .github/workflows/changesets.yml
Due: format

feat: improve changeset error handling in CI workflow (#26)
  .github/workflows/changesets.yml
Due: format

feat: add alias for open-composer command in CLI
  packages/cli/package.json
Due: format

feat: add alias for open-composer command in CLI (#27)
  packages/cli/package.json
Due: format

refactor: simplify changesets workflow by using custom action
  .github/workflows/changesets.yml
Due: format

refactor: simplify changesets workflow by using custom action (#28)
  .github/workflows/changesets.yml
Due: format

fix: update changesets workflow to use PAT_TOKEN instead of GITHUB_TOKEN
  .github/workflows/changesets.yml
Due: format

fix: update changesets workflow to use PAT_TOKEN instead of GITHUB_TOKEN (#29)
  .github/workflows/changesets.yml
Due: format

feat: improve git worktrees implementation and CLI integration
  .changeset/bump-git-worktrees-and-cli.md
  .github/workflows/changesets.yml
  packages/cli/index.ts
  packages/cli/test/index.test.tsx
  packages/git-worktrees/src/errors.ts
  packages/git-worktrees/src/git.ts
  packages/git-worktrees/src/index.ts
  packages/git-worktrees/src/parse.ts
  packages/git-worktrees/src/worktrees.ts
Due: format, lint, type-check

test: update CLI tests for improved accuracy and reliability
  packages/cli/test/cli.test.tsx
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

test: enhance CLI and UI tests for better readability and consistency
  packages/cli/test/cli.test.tsx
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

test: enhance CLI and UI tests for better readability and consistency (#30)
  .changeset/bump-git-worktrees-and-cli.md
  .github/workflows/changesets.yml
  packages/cli/index.ts
  packages/cli/test/cli.test.tsx
  packages/cli/test/index.test.tsx
  packages/cli/test/ui/index.test.tsx
  packages/git-worktrees/src/errors.ts
  packages/git-worktrees/src/git.ts
  packages/git-worktrees/src/index.ts
  packages/git-worktrees/src/parse.ts
  packages/git-worktrees/src/worktrees.ts
Due: format, lint, type-check

Version Packages (#31)
  .changeset/bump-git-worktrees-and-cli.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/git-worktrees/CHANGELOG.md
  packages/git-worktrees/package.json
Due: format

feat: implement PostHog anonymous logger with IP-based rate limiting
  workers/README.md
  workers/package.json
  workers/src/index.ts
  workers/test/basic.test.ts
  workers/test/index.test.ts
  workers/test/rate-limiter.test.ts
  workers/test/setup.ts
  workers/test/types.d.ts
  workers/tsconfig.json
  workers/vitest.config.ts
  workers/wrangler.toml
Due: format, lint, type-check

chore: update package.json to include new check:fix script and add workers workspace
  package.json
  workers/package.json
Due: format

chore: rename PostHog anonymous logger to PostHog anonymous worker in wrangler.toml
  workers/wrangler.toml
Due: none

feat: implement PostHog anonymous logger with IP-based rate limiting (#32)
  package.json
  workers/README.md
  workers/package.json
  workers/src/index.ts
  workers/test/basic.test.ts
  workers/test/index.test.ts
  workers/test/rate-limiter.test.ts
  workers/test/setup.ts
  workers/test/types.d.ts
  workers/tsconfig.json
  workers/vitest.config.ts
  workers/wrangler.toml
Due: format, lint, type-check

feat: update CLI and git-worktrees dependencies and improve CLI execution
  bun.lock
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/index.ts
  packages/cli/test/cli.test.tsx
  packages/git-worktrees/package.json
Due: format, lint, type-check

fix: correct string replacement regex in CLI test
  packages/cli/test/cli.test.tsx
Due: format, lint, type-check

chore: update
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/commands/TuiCommand.ts
  packages/cli/src/commands/WorktreeCommands.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/worktree-manager.ts
  packages/cli/src/services/WorktreeCli.ts
Due: format, lint, type-check

refactor: update CLI imports and rename WorktreeManager to WorktreeCli
  packages/cli/src/lib/index.ts
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

refactor: update CLI imports and rename WorktreeManager to WorktreeCli (#33)
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/commands/TuiCommand.ts
  packages/cli/src/commands/WorktreeCommands.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/worktree-manager.ts
  packages/cli/src/services/WorktreeCli.ts
  packages/cli/test/cli.test.tsx
  packages/cli/test/ui/index.test.tsx
  packages/git-worktrees/package.json
Due: format, lint, type-check

refactor: extract agent-router into separate package
  bun.lock
  packages/agent-router/package.json
  packages/agent-router/src/index.ts
  packages/agent-router/test/agent-router.test.ts
  packages/agent-router/tsconfig.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/lib/agent-router.ts
  packages/cli/src/lib/index.ts
  packages/cli/test/ui/index.test.tsx
  workers/src/index.ts
Due: format, lint, type-check

fix: resolve TypeScript type errors in CLI agent commands
  packages/cli/README.md
  packages/cli/src/commands/AgentsCommands.ts
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/AgentCli.ts
  packages/cli/test/cli.test.tsx
  packages/cli/test/utils.test.ts
Due: format, lint, type-check

chore: add changeset for agent-router package and CLI enhancements
  .changeset/agent-router-cli-enhancement.md
Due: format

refactor: extract agent-router package and fix CLI type errors (#34)
  .changeset/agent-router-cli-enhancement.md
  bun.lock
  packages/agent-router/package.json
  packages/agent-router/src/index.ts
  packages/agent-router/test/agent-router.test.ts
  packages/agent-router/tsconfig.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/AgentsCommands.ts
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/lib/agent-router.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/AgentCli.ts
  packages/cli/test/cli.test.tsx
  packages/cli/test/ui/index.test.tsx
  packages/cli/test/utils.test.ts
  workers/src/index.ts
Due: format, lint, type-check

refactor: reorganize workers directory structure
  bun.lock
  workers/posthog/README.md
  workers/posthog/package.json
  workers/posthog/src/index.ts
  workers/posthog/test/basic.test.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/test/setup.ts
  workers/posthog/test/types.d.ts
  workers/posthog/tsconfig.json
  workers/posthog/vitest.config.ts
  workers/posthog/wrangler.toml
Due: format, lint, type-check

fix: add newline to package.json
  workers/posthog/package.json
Due: format

refactor: convert CLI commands from static classes to functional approach
  packages/cli/src/commands/AgentsCommands.ts
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/commands/TuiCommand.ts
  packages/cli/src/commands/WorktreeCommands.ts
  packages/cli/src/commands/agents.ts
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/git-worktree.ts
  packages/cli/src/commands/tui.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/agent-cli.ts
  packages/cli/src/services/git-worktree-cli.ts
Due: format, lint, type-check

refactor: remove deprecated CLI command files and update tsconfig includes
  packages/cli/src/lib/cli.ts
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

refactor: improve type exports in CLI for better readability
  packages/cli/src/lib/cli.ts
Due: format, lint, type-check

refactor: convert CLI commands from static classes to functional approach (#36)
  packages/cli/src/commands/AgentsCommands.ts
  packages/cli/src/commands/ComposerCli.ts
  packages/cli/src/commands/TuiCommand.ts
  packages/cli/src/commands/WorktreeCommands.ts
  packages/cli/src/commands/agents.ts
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/git-worktree.ts
  packages/cli/src/commands/tui.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/agent-cli.ts
  packages/cli/src/services/git-worktree-cli.ts
  packages/cli/test/ui/index.test.tsx
Due: format, lint, type-check

chore: update dependencies and improve testing setup for PostHog worker
  bun.lock
  workers/posthog/package.json
  workers/posthog/src/index.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/vitest.config.ts
Due: format, lint, type-check

fix: improve formatting and consistency in test files and configuration
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/vitest.config.ts
Due: format, lint, type-check

refactor: reorganize workers directory structure (#37)
  bun.lock
  workers/posthog/README.md
  workers/posthog/package.json
  workers/posthog/src/index.ts
  workers/posthog/test/basic.test.ts
  workers/posthog/test/index.test.ts
  workers/posthog/test/rate-limiter.test.ts
  workers/posthog/test/setup.ts
  workers/posthog/test/types.d.ts
  workers/posthog/tsconfig.json
  workers/posthog/vitest.config.ts
  workers/posthog/wrangler.toml
  workers/test/rate-limiter.test.ts
Due: format, lint, type-check

feat: integrate stack command and complete functional refactoring
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/composer.ts
  packages/cli/src/commands/stack.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/services/stack-cli.ts
  packages/cli/test/cli.test.tsx
  packages/git-stack/package.json
  packages/git-stack/src/index.ts
  packages/git-stack/src/service.ts
  packages/git-stack/test/git-stack.test.ts
  packages/git-stack/tsconfig.json
Due: format, lint, type-check

refactor: clean up import statements and improve code formatting
  packages/cli/src/commands/composer.ts
  packages/cli/src/services/stack-cli.ts
  packages/git-stack/src/service.ts
Due: format, lint, type-check

chore: update build dependencies and test configuration
  bun.lock
  bunfig.toml
  package.json
  packages/cli/package.json
  workers/posthog/package.json
Due: format

chore: update dependencies and add bunfig configuration
  bunfig.toml
  package.json
Due: format

Update workers/posthog/package.json
  workers/posthog/package.json
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
