Repository shunkakinoki/open-composer: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

# Lefthook configuration for Open Composer project
# This file configures Git hooks to run automatically

# Pre-commit hook: Format and lint code before committing
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md,yml,yaml}"
      run: bun run format
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run lint
    type-check:
      glob: "*.{ts,tsx}"
      run: bun run type-check

# Pre-push hook: Run additional checks before pushing
pre-push:
  parallel: true
  commands:
    test:
      run: bun run test
    build:
      run: bun run build

Update chilly-apples-sneeze.md
  .changeset/chilly-apples-sneeze.md
Due: format

fix: update CLI binary naming for consistency (#236)
  .changeset/chilly-apples-sneeze.md
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/preinstall.mjs
Due: format

refactor: migrate `opencomposer` to `open-composer` and update related scripts
  .changeset/lazy-jars-shave.md
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
  apps/cli/package.json
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: binary naming consistency (#239)
  .changeset/lazy-jars-shave.md
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
  apps/cli/package.json
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

Version Packages (#237)
  .changeset/chilly-apples-sneeze.md
  .changeset/lazy-jars-shave.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: update binary naming in install script for consistency
  install.sh
Due: none

fix: update binary naming in install script for consistency (#240)
  install.sh
Due: none

fix: update binary path references for open-composer consistency
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
Due: none

fix: update binary path references for open-composer consistency (#241)
  apps/cli/bin/open-composer
  apps/cli/bin/open-composer.cmd
Due: none

Update bun dependencies
  .changeset/shaggy-jeans-cheer.md
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/router/package.json
  agents/types/package.json
  apps/cli/package.json
  apps/docs/package.json
  apps/landing/package.json
  bun.lock
  packages/cache/package.json
  packages/config/package.json
  packages/db/package.json
  packages/gh-pr/package.json
  packages/gh/package.json
  packages/git-releases/package.json
  packages/git-stack/package.json
  packages/git-worktrees/package.json
  packages/git/package.json
  packages/process-runner/package.json
  packages/tmux/package.json
  workers/posthog/package.json
Due: format

Update bun dependencies (#242)
  .changeset/shaggy-jeans-cheer.md
  agents/claude-code/package.json
  agents/codex/package.json
  agents/opencode/package.json
  agents/router/package.json
  agents/types/package.json
  apps/cli/package.json
  apps/docs/package.json
  apps/landing/package.json
  bun.lock
  packages/cache/package.json
  packages/config/package.json
  packages/db/package.json
  packages/gh-pr/package.json
  packages/gh/package.json
  packages/git-releases/package.json
  packages/git-stack/package.json
  packages/git-worktrees/package.json
  packages/git/package.json
  packages/process-runner/package.json
  packages/tmux/package.json
  workers/posthog/package.json
Due: format

Version Packages (#243)
  .changeset/shaggy-jeans-cheer.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

fix: reorder paths in version resolution for consistency
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

feat: generate and embed CLI version during build process
  apps/cli/.gitignore
  apps/cli/scripts/prepublish.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

fix: adjust indentation for consistency in version.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

Update apps/cli/src/lib/version.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

feat: add version generation script and update build process to embed CLI version
  apps/cli/package.json
  apps/cli/scripts/generate-version.ts
  apps/cli/scripts/prepublish.ts
Due: format, lint, type-check

fix: improve readability by formatting readFileSync call in version.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

feat: version path (#244)
  apps/cli/.gitignore
  apps/cli/package.json
  apps/cli/scripts/generate-version.ts
  apps/cli/scripts/prepublish.ts
  apps/cli/src/lib/version.ts
Due: format, lint, type-check

feat: implement actual PR lookup in status command
  .vscode/settings.json
  apps/cli/src/commands/status-command.ts
Due: format, lint, type-check

fix: improve type definition formatting in status command
  apps/cli/src/commands/status-command.ts
Due: format, lint, type-check

chore: update
  .changeset/true-insects-give.md
Due: format

feat: implement actual PR lookup in status command (#245)
  .changeset/true-insects-give.md
  .vscode/settings.json
  apps/cli/src/commands/status-command.ts
Due: format, lint, type-check

Version Packages (#246)
  .changeset/true-insects-give.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: format

feat: implement agent-specific command routing
  apps/cli/src/commands/run-command.ts
Due: format, lint, type-check

fix: prevent PR check from hanging in status command
  apps/cli/src/commands/status-command.ts
Due: format, lint, type-check

chore: update
  apps/cli/src/commands/upgrade-command.ts
  packages/git-releases/tests/core.test.ts
Due: format, lint, type-check

chore: update (#249)
  apps/cli/src/commands/upgrade-command.ts
  packages/git-releases/tests/core.test.ts
Due: format, lint, type-check

fix: prevent PR check from hanging in status command (#248)
  apps/cli/src/commands/status-command.ts
Due: format, lint, type-check

feat: implement agent-specific command routing (#247)
  apps/cli/src/commands/run-command.ts
Due: format, lint, type-check

feat: implement agent-specific command routing (#247)
  apps/cli/src/commands/run-command.ts
  apps/cli/tests/services/stack-service.test.ts
Due: format, lint, type-check

feat: add interactive TUI welcome screen to root command
  apps/cli/src/commands/composer-command.ts
  apps/cli/src/components/MainMenu.tsx
  apps/cli/src/components/StatusBar.tsx
  apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/tests/ui/MainMenu.test.tsx
  apps/cli/tests/ui/StatusBar.test.tsx
  apps/cli/tests/ui/WelcomeScreen.test.tsx
Due: format, lint, type-check

fix: update CLI tests for new welcome screen behavior
  apps/cli/tests/cli.test.tsx
Due: format, lint, type-check

chore: apply code formatting from pre-commit hooks
  apps/cli/src/components/MainMenu.tsx
  apps/cli/src/components/StatusBar.tsx
  apps/cli/src/components/WelcomeScreen.tsx
  apps/cli/tests/ui/MainMenu.test.tsx
  apps/cli/tests/ui/StatusBar.test.tsx
  apps/cli/tests/ui/WelcomeScreen.test.tsx
Due: format, lint, type-check

feat: implement proper database mocking for comprehensive tests
  apps/cli/tests/helpers/db-mock.ts
  apps/cli/tests/services/sessions-service.test.ts
Due: format, lint, type-check

feat: implement agent-specific command routing (#247) (#250)
  apps/cli/tests/services/stack-service.test.ts
Due: format, lint, type-check

feat: restore --help flag to show static help text
  apps/cli/src/commands/composer-command.ts
Due: format, lint, type-check

feat: implement proper database mocking for comprehensive tests (#252)
  apps/cli/tests/helpers/db-mock.ts
  apps/cli/tests/services/sessions-service.test.ts
Due: format, lint, type-check

feat: add snapshot tests for TUI components
  apps/cli/tests/ui/MainMenu.test.tsx
  apps/cli/tests/ui/StatusBar.test.tsx
  apps/cli/tests/ui/WelcomeScreen.test.tsx
  apps/cli/tests/ui/__snapshots__/MainMenu.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/StatusBar.test.tsx.snap
  apps/cli/tests/ui/__snapshots__/WelcomeScreen.test.tsx.snap
Due: format, lint, type-check

fix: skip TUI integration tests in CI environments
  apps/cli/tests/cli.test.tsx
Due: format, lint, type-check
